<?xml version="1.0"?>
<config>
    <modules>
        <Cobra_CustomClothes>
            <version>0.1.0</version>
        </Cobra_CustomClothes>
    </modules>
    <frontend>
        <routers>
            <customclothes>
                <use>standard</use>
                <args>
                    <module>Cobra_CustomClothes</module>
                    <frontName>customclothes</frontName>
                </args>
            </customclothes>
        </routers>
    </frontend>
    <admin>
        <routers>
            <customclothes>
                <use>admin</use>
                <args>
                    <module>Cobra_CustomClothes</module>
                    <frontName>customclothes</frontName>
                </args>
            </customclothes>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customclothes>
                    <file>customclothes.xml</file>
                </customclothes>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customclothes>
                <class>Cobra_CustomClothes_Model</class>
                <resourceModel>customclothes_mysql4</resourceModel>
            </customclothes>
            <customclothes_mysql4>
                <class>Cobra_CustomClothes_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>customclothes_order</table>
                    </order>
                    <order_info>
                        <table>customclothes_order_info</table>
                    </order_info>
                    <temp_info>
                        <table>customclothes_temp_info</table>
                    </temp_info>
                    <temp>
                        <table>customclothes_temp</table>
                    </temp>
                </entities>
            </customclothes_mysql4>
        </models>
        <blocks>
            <customclothes>
                <class>Cobra_CustomClothes_Block</class>
            </customclothes>
        </blocks>
        <helpers>
            <customclothes>
                <class>Cobra_CustomClothes_Helper</class>
            </customclothes>
        </helpers>
        <resources>
            <customclothes_setup>
                <setup>
                    <module>Cobra_CustomClothes</module>
                    <class>Cobra_CustomClothes_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customclothes_setup>
            <customclothes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customclothes_write>
            <customclothes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customclothes_read>
        </resources>
    </global>
</config>