<config>
    <modules>
        <Marvelcommerce_Mytab>
            <version>0.1.0</version>
        </Marvelcommerce_Mytab>
    </modules>

    <admin>
        <routers>
            <mytab>
                <use>admin</use>
                <args>
                    <module>Marvelcommerce_Mytab</module>
                    <frontName>custommadebackend</frontName>
                </args>
            </mytab>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mytab>
                    <file>mytab.xml</file>
                </mytab>
            </updates>
        </layout>
    </adminhtml>
</config>