.madeTexWrap{
	margin-top:185px;
}
.viewPage_P1 .viewPage_p1_wrap, .viewPage_P2 .viewPage_p2_wrap{
	margin-top:175px;
}
/*1-1*/
.big_pic li .imgPag_1.imgPag_1_1{
	margin-left:-300px;
}
/*1-2*/
.big_pic li .imgPag_1.imgPag_1_2{
	margin-left:-302px;
	-webkit-transform: rotateY(-2deg);
	top:99px;
}

/*1-3*/
.big_pic li .imgPag_1.imgPag_1_3{
	margin-left: -315px;
    -webkit-transform: rotateY(-4deg);
    top:98px;
}

/*1-4*/
.big_pic li .imgPag_1.imgPag_1_4{
	margin-left: -332px;
    -webkit-transform: rotateY(-6deg);
    top:97px;
}

/*1-5*/


.big_pic li .imgPag_1.imgPag_1_5{
	margin-left:-365px;
	-webkit-transform: rotateY(-6deg);
	top:96px;
}

/*1-6*/
.big_pic li .imgPag_1.imgPag_1_6{
	margin-left: -395px;
  -webkit-transform: rotateY(-6deg);
  top:96px;
}

/*1-7*/
.big_pic li .imgPag_1.imgPag_1_7{
	  margin-left: -420px;
  -webkit-transform: rotateY(-18deg);
  z-index: 2;
  top:98px;
}

.big_pic li .imgPag_2.imgPag_2_7{
	margin-left: -10px;
    -webkit-transform: rotateY(-5deg);
    z-index: 1;

}

/*1-8*/
.big_pic li .imgPag_1.imgPag_1_8{
	margin-left:-460px;
	-webkit-transform: rotateY(-20deg);
	z-index: 2;
	top:98px;
}
.big_pic li .imgPag_2.imgPag_2_8{
	margin-left: -20px;
    -webkit-transform: rotateY(-8deg);
    z-index: 1;

}

/*1-9*/
.big_pic li .imgPag_1.imgPag_1_9{
	margin-left:-490px;
	-webkit-transform: rotateY(-35deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_9{
	margin-left: -30px;
    -webkit-transform: rotateY(-10deg);
    z-index: 1;

}

/*1-10*/
.big_pic li .imgPag_1.imgPag_1_10{
	margin-left:-540px;
	-webkit-transform: rotateY(-35deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_10{
	margin-left: 30px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;

}

/*1-11*/
.big_pic li .imgPag_1.imgPag_1_11{
	margin-left:-555px;
	-webkit-transform: rotateY(-45deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_11{
	margin-left: -30px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;

}

/*1-12*/
.big_pic li .imgPag_1.imgPag_1_12{
	margin-left:-575px;
	-webkit-transform: rotateY(-55deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_12{
	margin-left: -90px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;

}

/*1-13*/
.big_pic li .imgPag_1.imgPag_1_13{
	margin-left:-605px;
	-webkit-transform: rotateY(-55deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_13{
	margin-left: -130px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;

}

/*1-14*/
.big_pic li .imgPag_1.imgPag_1_14{
	margin-left:-625px;
	-webkit-transform: rotateY(-55deg);
	z-index: 2;
}
.big_pic li .imgPag_2.imgPag_2_14{
	margin-left: -170px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;

}

/*1-15*/
.big_pic li .imgPag_2.imgPag_2_15{
	margin-left: -210px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
	top:95px;
}

/*1-16*/
.big_pic li .imgPag_2.imgPag_2_16{
	margin-left: -250px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
	top:95px;
}

/*1-17*/
.big_pic li .imgPag_2.imgPag_2_17{
	margin-left: -300px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;
}

/*1-18*/
.big_pic li .imgPag_2.imgPag_2_18{
	margin-left: -355px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;
}

/*1-19*/
.big_pic li .imgPag_2.imgPag_2_19{
	margin-left: -395px;
    -webkit-transform: rotateY(-12deg);
    z-index: 1;
    top:95px;
}

/*1-20*/
.big_pic li .imgPag_1.imgPag_1_20{
	margin-left:155px;
	-webkit-transform: rotateY(-15deg);
	z-index: 1;
	top:90px;
}
.big_pic li .imgPag_2.imgPag_2_20{
	margin-left: -430px;
    -webkit-transform: rotateY(-12deg);
    z-index: 2;
    top:95px;
}

/*1-21*/
.big_pic li .imgPag_1.imgPag_1_21{
	margin-left:120px;
	-webkit-transform: rotateY(-15deg);
	z-index: 1;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_21{
	margin-left: -470px;
    -webkit-transform: rotateY(-12deg);
    z-index: 2;
    top:95px;
}

/*1-22*/
.big_pic li .imgPag_1.imgPag_1_22{
	margin-left:40px;
	-webkit-transform: rotateY(-15deg);
	z-index: 1;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_22{
	margin-left: -510px;
    -webkit-transform: rotateY(-15deg);
    z-index: 2;
    top:95px;
}

/*1-23*/
.big_pic li .imgPag_1.imgPag_1_23{
	margin-left:15px;
	-webkit-transform: rotateY(-15deg);
	z-index: 2;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_23{
	margin-left: -540px;
    -webkit-transform: rotateY(-15deg);
    z-index: 1;
    top:93px;
}

/*1-24*/
.big_pic li .imgPag_1.imgPag_1_24{
	margin-left:-50px;
	-webkit-transform: rotateY(-10deg);
	z-index: 2;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_24{
	margin-left: -610px;
    -webkit-transform: rotateY(-25deg);
    z-index: 1;
    top:93px;
}

/*1-25*/
.big_pic li .imgPag_1.imgPag_1_25{
	margin-left:-100px;
	-webkit-transform: rotateY(-5deg);
	z-index: 2;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_25{
	margin-left: -640px;
    -webkit-transform: rotateY(-35deg);
    z-index: 1;
    top:95px;
}

/*1-26*/
.big_pic li .imgPag_1.imgPag_1_26{
	margin-left:-140px;
	-webkit-transform: rotateY(-5deg);
	z-index: 2;
	top:97px;
}
.big_pic li .imgPag_2.imgPag_2_26{
	margin-left: -655px;
    -webkit-transform: rotateY(-45deg);
    z-index: 1;
    top:95px;
}


/*1-27*/
.big_pic li .imgPag_1.imgPag_1_27{
	margin-left:-170px;
	-webkit-transform: rotateY(-10deg);
	z-index: 1;
	top:97px;
	
}
.big_pic li .imgPag_2.imgPag_2_27{
	margin-left: -650px;
    -webkit-transform: rotateY(-55deg);
    z-index: 2;
    top:95px;
}

/*1-28*/
.big_pic li .imgPag_1.imgPag_1_28{
	margin-left:-190px;
	-webkit-transform: rotateY(-5deg);
	z-index: 1;
	top:97px;
	
}
.big_pic li .imgPag_2.imgPag_2_28{
	margin-left: -650px;
    -webkit-transform: rotateY(-55deg);
    z-index: 2;
    top:95px;
}

/*1-29*/
.big_pic li .imgPag_1.imgPag_1_29{
	margin-left:-225px;
	-webkit-transform: rotateY(-10deg);
	z-index: 1;
	top:97px;
	
}
.big_pic li .imgPag_2.imgPag_2_29{
	margin-left: -650px;
    -webkit-transform: rotateY(-55deg);
    z-index: 2;
    top:95px;
}


/*1-30*/
.big_pic li .imgPag_1.imgPag_1_30{
	margin-left:-255px;
	-webkit-transform: rotateY(-10deg);
	z-index: 1;
	top:98px;
}
.big_pic li .imgPag_2.imgPag_2_30{
	margin-left: -650px;
    -webkit-transform: rotateY(-55deg);
    z-index: 2;
}


/*1-31*/
.big_pic li .imgPag_1.imgPag_1_31{
	margin-left:-288px;
	-webkit-transform: rotateY(-10deg);
	z-index: 1;
	top:99px;
}
.big_pic li .imgPag_2.imgPag_2_31{
	margin-left: -650px;
    -webkit-transform: rotateY(-55deg);
    z-index: 2;
}


/*1-32*/
.big_pic li .imgPag_1.imgPag_1_32{
	margin-left:-295px;
	-webkit-transform: rotateY(-10deg);
	z-index: 1;
	top:99px;
}




/*
***第2套
***page-1 文字
***page-2 文字
*/

/*2-2*/

li .textPag_1.textPag_1_2{
	margin-left:-10px;
}

/*2-3*/
li .textPag_1.textPag_1_3{
	margin-left:-25px;
}

/*2-4*/
li .textPag_1.textPag_1_4{
	margin-left:-45px;
}

/*2-5*/
li .textPag_1.textPag_1_5{
	margin-left:-75px;
}

/*2-6*/
li .textPag_1.textPag_1_6{
	margin-left:-115px;
	margin-top:-6px;
}

/*2-7*/
li .textPag_1.textPag_1_7{
	margin-left:-165px;
	margin-top:-9px;
}


/*2-8*/
li .textPag_1.textPag_1_8{
	margin-left:-205px;
	margin-top:-11px;
}

li .textPag_2.textPag_2_8{
	margin-left:395px;
}


/*2-9*/
li .textPag_1.textPag_1_9{
	margin-left:-250px;
	margin-top:-16px;
}

li .textPag_2.textPag_2_9{
	margin-left:375px;
}

/*2-10*/
li .textPag_1.textPag_1_10{
	margin-left:-290px;
	margin-top:-18px;
}

li .textPag_2.textPag_2_10{
	margin-left:335px;
}

/*2-11*/
li .textPag_1.textPag_1_11{
	margin-left:-330px;
	margin-top:-19px;
}

li .textPag_2.textPag_2_11{
	margin-left:285px;
}

/*2-12*/
li .textPag_1.textPag_1_12{
	margin-left:-370px;
	margin-top:-19px;
}

li .textPag_2.textPag_2_12{
	margin-left:230px;
}

/*2-13*/
li .textPag_1.textPag_1_13{
	margin-left:-390px;
	margin-top:-21px;
}

li .textPag_2.textPag_2_13{
	margin-left:180px;
}


/*2-14*/

li .textPag_2.textPag_2_14{
	margin-left:135px;
}
/*2-15*/

li .textPag_2.textPag_2_15{
	margin-left:85px;
}

/*2-16*/

li .textPag_2.textPag_2_16{
	margin-left:40px;
}

/*2-17*/

li .textPag_2.textPag_2_17{
	
}

/*2-18*/

li .textPag_2.textPag_2_18{
	margin-left:-40px;
}


/*2-19*/

li .textPag_2.textPag_2_19{
	margin-left:-80px;
}


/*2-20*/

li .textPag_2.textPag_2_20{
	margin-left:-115px;
	margin-top:-4px;
}

/*2-21*/
li .textPag_1.textPag_1_21{
	margin-left:370px;
}
li .textPag_2.textPag_2_21{
	margin-left:-145px;
}

/*2-22*/
li .textPag_1.textPag_1_22{
	margin-left:350px;
}
li .textPag_2.textPag_2_22{
	margin-left:-210px;
}

/*2-23*/
li .textPag_1.textPag_1_23{
	margin-left:320px;
	margin-top:-10px;
}
li .textPag_2.textPag_2_23{
	margin-left:-280px;
	margin-top:-5px;
}


/*2-24*/
li .textPag_1.textPag_1_24{
	margin-left:270px;
	margin-top:-8px;
}
li .textPag_2.textPag_2_24{
	margin-left:-340px;
}

/*2-25*/
li .textPag_1.textPag_1_25{
	margin-left:225px;
	margin-top:-6px;
}
li .textPag_2.textPag_2_25{
	margin-left:-375px;
}

/*2-26*/
li .textPag_1.textPag_1_26{
	margin-left:185px;
	margin-top:-4px;
}
li .textPag_2.textPag_2_26{
	margin-left:-390px;
}

/*2-27*/
li .textPag_1.textPag_1_27{
	margin-left:140px;
}


/*2-28*/
li .textPag_1.textPag_1_28{
	margin-left:110px;
}

/*2-29*/
li .textPag_1.textPag_1_29{
	margin-left:80px;
}

/*2-30*/
li .textPag_1.textPag_1_30{
	margin-left:50px;
}

/*2-31*/
li .textPag_1.textPag_1_31{
	margin-left:20px;
}

/*2-32*/
li .textPag_1.textPag_1_32{
	margin-left:10px;
}









li .textPag_1.towLine_view_1{
	margin-top:40px;
}

li .textPag_2.towLine_view_2{
	margin-top:40px;
}
