<?xml version="1.0"?>
<config>
    <modules>
        <Devicom_Weixindev>
            <version>0.1.0</version>
        </Devicom_Weixindev>
    </modules>
    <frontend>
        <routers>
            <!-- the <Weixinpay> tagname appears to be arbitrary, but by
            convention is should match the frontName tag below-->
            <weixindev>
                <use>standard</use>
                <args>
                    <module>Devicom_Weixindev</module>
                    <frontName>weixindev</frontName>
                </args>
            </weixindev>
        </routers>
    </frontend>
    <global>
        <models>
            <weixindev>
                <class>Devicom_Weixindev_Model</class>
                <resourceModel>Weixindev_mysql4</resourceModel>
            </weixindev>
            <weixindev_mysql4>
                <class>Devicom_Weixindev_Model_Mysql4</class>
                <entities>
                    <log><table>weixin_log</table></log>
                    <api_debug><table>weixin_api_debug</table></api_debug>
                </entities>
            </weixindev_mysql4>
        </models>
        <resources>
            <weixindev_setup>
                <setup>
                    <module>Devicom_Weixindev</module>
                    <class>Devicom_Weixindev_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weixindev_setup>
            <weixindev_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weixindev_write>
            <weixindev_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weixindev_read>
        </resources>
        <blocks>
            <weixindev>
                <class>Devicom_Weixindev_Block</class>
            </weixindev>
        </blocks>
        <helpers>
            <weixindev>
                <class>Devicom_Weixindev_Helper</class>
            </weixindev>
        </helpers>
    </global>

</config>