/var
/sitemap
/media
/app/etc/local.xml
/devicom_apps/inventory/category
/devicom_apps/inventory/product
/devicom_apps/catalog/logs
/devicom_apps/catalog/failed
/devicom_apps/catalog/processed
/devicom_apps/catalog/received
/devicom_apps/catalog/temporary
/.idea
/devicom_apps/catalog/logs
/devicom_apps/catalog/failed
/devicom_apps/catalog/processed
/devicom_apps/catalog/received
/devicom_apps/catalog/temporary
/devicom_apps/inventory
/devicom_apps/customer/logs
/devicom_apps/email/logs
/devicom_apps/sales/logs
/devicom_apps/sales/post
/devicom_apps/sales/processed
/devicom_apps/sales/received
/devicom_apps/sales/sent
/.project
/downloader
