<?xml version="1.0" encoding="UTF-8"?>
<config>
       <sections>
            <payment>
                <groups>
                    <weixinpay translate="label" module="weixinpay">
                        <label>微信支付</label>
                        <sort_order>670</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>0</show_in_store>
                        <fields>
                            <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                                <title translate="label">
                                    <label>Title</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>3</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </title>
                             <app_id translate="label comment">
                                <label>App ID</label>
                                <comment>
                                    <![CDATA[微信公众号身份的唯一标识。审核通过后，在微信发送的邮件中查看]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>5</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </app_id>
                            <app_secret translate="label comment">
                                <label>App Secret</label>
                                <comment>
                                    <![CDATA[审核后在公众平台开启开发模式后可查看]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>7</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </app_secret>
                            <mch_id translate="label comment">
                                <label>受理商ID，身份标识</label>
                                <comment>
                                    <![CDATA[受理商ID，身份标识 在微信发送的邮件中查看]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>9</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </mch_id>
                            <pay_key translate="label comment">
                                <label>PAY KEY</label>
                                <comment>
                                    <![CDATA[第一次获取需要登录 商户平台 http://pay.weixin.qq.com 帐号设置 - 密码安全 - API密钥]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>11</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </pay_key>
                            <apiclient_key translate="label comment">
                                <label>apiclient_key</label>
                                <comment>
                                    <![CDATA[审核通过后，在微信发送的邮件中查看，填写在当前自己的服务器上的绝对路径 比如 /home/dev/html/weixin_pay/WxPayPubHelper/cacert/apiclient_key.pem ]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>13</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </apiclient_key>
                            <apiclient_cert translate="label comment">
                                <label>apiclient_cert</label>
                                <comment>
                                    <![CDATA[审核通过后，在微信发送的邮件中查看，填写在当前自己的服务器上的绝对路径： 比如 /home/dev/html/weixin_pay/WxPayPubHelper/cacert/apiclient_cert.pem]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>15</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </apiclient_cert>
                            <shop_name translate="label comment">
                                <label>商店名称</label>
                                <comment>
                                    <![CDATA[在微信结算页面显示的商家名称，例如  当当网商品]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>17</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </shop_name>
                            <send_mail_notification translate="label comment">
                                <label>邮件地址（产生新订单后,通知相关人员）</label>
                                <comment>
                                    <![CDATA[一旦客服付款成功，将订单信息通知相关人员]]>
                                </comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>19</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </send_mail_notification>
                             <order_status translate="label">
                                <label>新订单状态</label>
                                <comment>
                                    <![CDATA[一旦订单创建成功，订单的状态 - 设置为 WEIXIN WAIT BUYER PAY]]>
                                </comment>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_order_status</source_model>
                                <sort_order>21</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </order_status>
                        </fields>
                    </weixinpay>
                </groups>
            </payment>
        </sections>
</config>