<?xml version="1.0"?>
<config>
    <modules>
        <Cobra_CustomMade>
            <version>0.1.0</version>
        </Cobra_CustomMade>
    </modules>
    <frontend>
        <routers>
            <custommade>
                <use>standard</use>
                <args>
                    <module>Cobra_CustomMade</module>
                    <frontName>custommade</frontName>
                </args>
            </custommade>
        </routers>
    </frontend>
    <admin>
        <routers>
            <custommade>
                <use>admin</use>
                <args>
                    <module>Cobra_CustomMade</module>
                    <frontName>custommade</frontName>
                </args>
            </custommade>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <custommade>
                    <file>custommade.xml</file>
                </custommade>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <custommade>
                <class>Cobra_CustomMade_Model</class>
                <resourceModel>custommade_mysql4</resourceModel>
            </custommade>
            <custommade_mysql4>
                <class>Cobra_CustomMade_Model_Mysql4</class>
                <entities>
                    <info>
                        <table>custommade_info</table>
                    </info>
                </entities>
            </custommade_mysql4>
        </models>
        <blocks>
            <custommade>
                <class>Cobra_CustomMade_Block</class>
            </custommade>
        </blocks>
        <helpers>
            <custommade>
                <class>Cobra_CustomMade_Helper</class>
            </custommade>
        </helpers>
        <resources>
            <custommade_setup>
                <setup>
                    <module>Cobra_CustomMade</module>
                    <class>Cobra_CustomMade_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custommade_setup>
            <custommade_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custommade_write>
            <custommade_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custommade_read>
        </resources>
    </global>
</config>