<config>
<tabs>
    <custommadeconfig translate="label" module="custommade">
        <label>Custom Made</label>
        <sort_order>99999</sort_order>
    </custommadeconfig>
</tabs>
<sections>
    <custommade_options translate="label" module="custommade">
        <label>Custom Made Options</label>
        <tab>custommadeconfig</tab>
        <frontend_type>text</frontend_type>
        <sort_order>1000</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
    </custommade_options>
</sections>
</config>
