/*COPYRIGHT(C)UCWEB 2013.*/
/*ͨ��CSS��ʽ��.*/
/*2013.05.24*/

/** @NAME:CSS RESET
		@TYPE:����
		@EXPLAIN:����趨��Module Setting��ms-��
						 �����趨��Granule Reset��gr-��
	*/
	
/*ͨ��ȫ���趨*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,label {margin:0;padding:0;}

input,select,textarea{font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:500;}

fieldset,img {border:0;}
a img{border:0;}
abbr,acronym{border:0;font-variant:normal;}

table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}

iframe{display:block;}

del {text-decoration:line-through;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
/*melone start 添加链接字体颜色*/
ins,a {text-decoration:none;color: #83744d;}
/*melone end 添加链接字体颜色*/

q:before,q:after {content:'';}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}

body{/*background:#fff;font-family:Arial,Helvetica,sans-serif;*/font-family:Arial,����,����;line-height:20px;}
.en_ff{ font-family:Impact,Arial,"\5FAE\8F6F\96C5\9ED1",΢���ź�;}
.cn_ff{font-family:Arial,Verdana, sans-serif , ����,  "Microsoft Yahei",΢���ź�;}
.tf{font-family:"\5FAE\8F6F\96C5\9ED1",΢���ź�,"Microsoft Yahei",�ź�\9,Arial;}


/*���� HTML5 ��ǩ*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video,span {display:inline-block;*display:inline;*zoom:1;}

/*����趨-MODULE SETTING*/
/**��ʾ״̬**/
.ms-none{display:none;}
.ms-block{display:block;}
.ms-inblock{display:inline-block;}	

/**�������**/
.ms-cf:before, .ms-cf:after {content:"";display:table;}
.ms-cf:after {clear:both;}
.ms-cf {zoom:1;}

.cl{clear:left;}
.cr{clear:right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; zoom:1;}
*html .clearfix { height: 1%;}
.clearfix { display: block; }

/*
 * ����Ԫ��
 * @class clear
 * @desc	������Ԫ��,����������ʱ����Ԫ�ز�ϣ����������Ӵ����ԣ���ֹIE BUG
 */
.clear{clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}


/**����**/
.ms-fl{float:left;}
.ms-fr{float:right;}

/**��λ**/
.ms-pa{position:absolute;}
.ms-pr{position:relative;}
.ms-pf{position:fixed!important;}


.zoom{zoom:1;}
.z99{z-index:99;}
.z1{z-index:1;}
.hidden{ visibility:hidden;}
.ofh{overflow:hidden;}


.t10{top:10px;}
.t20{top:20px;}
.t30{top:30px;}
.t40{top:40px;}
.t50{top:50px;}

.b10{bottom:10px;}
.b20{bottom:20px;}
.b30{bottom:30px;}
.b40{bottom:40px;}
.b50{bottom:50px;}

.l10{left:10px;}
.l22{left:22px;}
.l30{left:30px;}
.l40{left:40px;}
.l50{left:50px;}

.r10{right:10px;}
.r22{right:22px;}
.r30{right:30px;}
.r40{right:40px;}
.r50{right:50px;}




/* �߾� */
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}


/**�ı���λ**/
.ms-tl{text-align:left}
.ms-tc{text-align:center}
.ms-tr{text-align:right}

/**�ı�**/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f24{ font-size:24px;}
.f26{ font-size:26px;}
.f30{ font-size:30px;}
.f36{ font-size:36px;}
.f40{ font-size:40px;}
.f46{ font-size:46px;}
.f50{ font-size:50px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}

.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.lh14{line-height:14px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh1_3{line-height:1.3em;}
.lh1_4{line-height:1.4em;}
.lh1_5{line-height:1.5em;}
.lh1_6{line-height:1.6em;}
.lh1_8{line-height:1.8em;}
.lh2_0{line-height:2.0em;}
.lh2_2{line-height:2.2em;}

.c_green{color:#66ad1e;}
.c_gray{color:#ababab;}
.c_999{color:#999999;}
.c_666{color:#666666;}
.c_black{color:#333333;}
.c_white{color:#FFF;}
.c_red{color:#EC2000;}
.c_pink{color:#ff7f7a;}
.c_blue{color:#3d88d5;}





/**����**/
.ms-noWrap{white-space:nowrap;overflow:hidden;}
.ms-wrap{overflow:hidden;word-wrap:break-word;word-break:break-all;}

/**�߿�**/
.ms-noBor{border:none!important}


/*ͼƬԲ��*/
.borderRadius_5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.borderRadius_3{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

/*ͶӰ*/
.tsha{text-shadow:0 1px 1px #ccc;}
.bsha{box-shadow:0 1px 1px #ccc;}


/*����ɫ*/
.bc_999{background:#999;}
.bc_333{background:#333;}
.bc_666{background:#666;}
.bc_f2{background:#f2f2f2;}


/*
* ����Hϵ�б�ǩ
* @overlay HN
* @desc ����Hϵ�б�ǩĬ������
*/
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}


/*
* ������,����2��DIV���
* @Pro ʹ��DIVH��ͷ.
* @desc ����DIV�м��ʱʹ��,������ʹ��margin/paddingֵ,��ֹ��ͬ���������BUG,
*	 ʹ���������Կɼ��ݴ�������.
*/
.DivH5,.DivH10,.DivH15,.DivH20,.DivH25,.DivH30,DivH1,.DivH40{width:100%;overflow:hidden;}
.DivH1{ height:1px;}
.DivH5{height:5px;}
.DivH10{height:10px;}
.DivH15{height:15px;}
.DivH20{height:20px;}
.DivH25{height:25px;}
.DivH30{height:30px;}
.DivH40{height:40px;}

/*
*inputs�ı���
*textarea
*/
.inputText_50{width:50px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_100{width:100px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_150{width:150px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_200{width:200px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_250{width:250px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_300{width:300px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_350{width:350px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_400{width:400px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_450{width:450px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_500{width:500px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_550{width:550px; padding:3px 5px; font-size:12px; color:#666; }
.inputText_600{width:600px; padding:3px 5px; font-size:12px; color:#666; }


.textArea_200{width:200px; height:150px; max-width:200px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_250{width:250px; height:150px; max-width:250px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_300{width:300px; height:150px; max-width:300px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_350{width:350px; height:150px; max-width:350px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_400{width:400px; height:150px; max-width:400px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_450{width:450px; height:150px; max-width:450px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_500{width:500px; height:150px; max-width:500px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_550{width:550px; height:150px; max-width:550px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}
.textArea_600{width:600px; height:150px; max-width:600px; max-height:150px;font-size:12px; color:#666; padding:3px 5px;}


/* ��ע */
/*���ռ�ҳ���е��ø�ͨ����ʽʱ,Ӧ��ע����ʾЧ���Ĳ�ͬ,��Ϊ��̨�ϴ���Ϣʱ�༭��������ʽ��û�е��ñ�Ĭ����ʽ��.
 *
 *�����ڱ༭���б�ǩ����Ĭ�ϵ�����,�û��������Ϣʱ,��Щ��Ϣ���Ǹ���Ĭ����ʽ��.
 *������������ռ�ҳ��Ҳ���ñ�Ĭ��CSS�ļ��Ļ�,����ǩ��:p,td,li......��ǩĬ����ʽ����ȡ��,�����ʾЧ��ͬ.
 *
 *����취:
 *	���ռ�ҳ����ʾ��������ԭ��Щ��ǩ��Ĭ������.
 *
 */
  
 /*
 ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:auto; padding:inherit;}
 input,select{ font-size:inherit;}
 img{border: inherit;}
 ul,li{margin:auto; padding:inherit;}
 li{list-style-type:disc;}
 */


/* @END 
	------------------------------------------------------------------------------**/	