/* Top Shopping Cart */
.top-cart { float:right;/* width:360px; */ position:relative; padding-left:7px; font:11px/1.35 Arial,Helvetica,sans-serif}
.top-cart .block-title { white-space:nowrap; /* _width:242px; min-width:242px; */ cursor:pointer; background:#fff url(../images/20141208002.png) 1px 3px no-repeat; color:#f97720; font-weight:bold; font-size:11px; text-transform:uppercase; padding:5px 0 0 18px; line-height:18px; height:18px;background-color: #121212; }
.top-cart .block-title strong { display:block; padding-right:10px; background:url(../images/bkg_header-panel.gif) 100% -71px no-repeat; font-size:11px; color:#F97720; font-weight:bold; text-decoration:none; }
.top-cart .block-title.expanded { background-position:0 3px !important; }
.top-cart .block-title.expanded strong { background-position:100% -126px !important; color:#d33911; }
/* .top-cart .no-items { cursor:default; }
.top-cart .no-items h3 { background:none; } */
.top-cart .block-content { position:absolute; right:0; top:20px; width:267px; background:#373737;border: 1px solid #DDDDDD }
.top-cart .inner-wrapper { border:1px solid #c1c1c1; }

.top-cart .block-content .block-subtitle { font-size:10px; color:#d12c01; font-weight:bold; text-transform:uppercase; background:url(../images/bkg_header-panel.gif) repeat-x 0 -8px; line-height:12px; padding:3px 10px 4px; }
.top-cart .block-content .block-subtitle .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty { padding:10px 10px 10px 20px; }
.top-cart .block-content ol { padding-bottom:7px; }
.top-cart .block-content .item { padding:8px 5px 8px 11px; }
.top-cart .block-content .item .product-name { font-size:11px; line-height:14px;color: #B0BAB9 }
.top-cart .block-content .item .product-name a { font-size:11px; text-decoration:none; color:#fff; }
.top-cart .block-content .item strong {color: #BBA7A2;}
.top-cart .block-content table { margin:5px 0 0 0; }
.top-cart .block-content table th { padding:1px 8px; color:#8f8f8f; text-align:right; }
.top-cart .block-content table td { text-align:left; padding:1px 0; }
.top-cart .block-content .subtotal { background:#000000 url(../images/bkg_dots.gif) repeat-x 0 0; padding:2px 5px; text-align:center;}

.top-cart .actions { background:#e3e3e3 url(../images/bkg_dots.gif) repeat-x 0 -1px; text-align:center; padding:5px 11px; text-align:right; }
.top-cart .actions a { float:left; line-height:23px; font-size:12px; }
.top-cart .actions button { float:none;cursor: pointer;font-size: 130%; }
.top-cart .actions button.button span,
.top-cart .actions button.button span span { background-image:url(../images/bkg_btn-onbg.gif); background-repeat:no-repeat; }
.top-cart .paypal-logo a { float:right; }
.top-cart .paypal-logo .paypal-or { clear:both; display:block; margin: 5px 33px 5px 0px; }


.top-cart .block-content ol {
    padding-bottom: 7px;
}
ul, ol {
    list-style: none outside none;
}
.ope_button {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #252525;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.add-to-links a{
    /*color: #ffffff;*/
    color: #f3ac00;
    font-size: 12px;
    margin: 0 0 0 5px 0;
}
.buttons-set button{
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
.add-to-cart-alt button{
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
.pager .limiter {
    float: right;
    line-height: 20px;
}

.toolbar {
    margin-top: -1px;
}

.sorter .sort-by {
    float: right;
    line-height: 20px;
}
.sorter {
    color: #ffffff;
    font-size: 11px;
    margin: 0;
    padding: 3px 20px;
}