  .block-content{padding-left:0px; font-size: 12px;}
  .block-content a{font-size: 12px;}
  .block-layered-nav{
      /*margin-left:-10px;*/
      margin-left:-20px;
  }
  @media screen and (max-width: 1540px){
      .block-layered-nav{
          margin-left:0px;
      }
  }

  .currently ol li span.label{margin-left:20px;}
  /*melone start 添加字体颜色*/
  .currently .exp-left-nav-header{margin-left:20px;color: #83744d;}
  /*melone end 添加字体颜色*/
    .selected-label{
  		padding-left:26px;
        /*melone start 去掉黑色背景*/
        /*background: url(http://localhost/spalding/skin/frontend/default/spalding/images/catalogsearchBg.jpg) no-repeat left top;*/
        /*melone end 去掉黑色背景*/
        z-index: 2000000000;
  		height:26px;
  		line-height:26px;
  		margin-left:-6px;

    }
    .selected-label img{
        /*float: right;*/
        /*margin-right: 10px;*/
        padding-right: 10px;
        /*margin: 2px 10px 2px 0;*/
    }
.actions{margin-left:20px;}
    .narrow-by-list{margin-left:20px;}
    a.btn-remove{margin-left:20px;}



  .tm-countdown {
      background-color: #ffe0bc;
      margin: 30px -20px 0;
      padding: 10px 10px 10px 88px;
      position: relative;
  }

  .tm-countdown .tb-btn-wait {
      background-color: #818181;
      border: 1px solid #818181;
      color: #fff;
      cursor: default;
      float: left;
      font-family: "Microsoft Yahei";
      font-size: 16px;
      height: 28px;
      line-height: 28px;
      margin-right: 10px;
      text-align: center;
      text-decoration: none;
      width: 150px;
  }

  .tm-countdown .tm-countdown-notice {
      line-height: 30px;
      font-size: 13px;
      color: #000000;
  }

  .tm-countdown .tm-countdown-timer {
      display: inline;
  }
