.selected-facet {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #333333;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 40px;
    /*margin: 0 18px 10px;*/
    padding: 0 6px 0 9px;
    position: relative;
}
.exp-left-nav .exp-left-nav-section .exp-left-nav-header .exp-left-nav-product-count {
    color: #000000;
    font-size: 17px;
    padding: 5px 0 8px 20px;
    text-transform: uppercase;
}

.exp-left-nav .exp-left-nav-section .exp-left-nav-header .exp-left-nav-filter {
    font-size: 13px;
    padding: 3px 0 10px 20px;
    text-transform: uppercase;
}
.nsg-text--medium-grey, .nsg-text--medium-grey:link {
    color: #666666;
}
.exp-left-nav .exp-left-nav-section span.nsg-keyline--horizontal {
    margin: 5px 0 0;
}
.nsg-keyline--horizontal {
    background-color: #DDDDDD;
    display: block;

    height: 1px;
    width: 100%;
}
.exp-left-nav-header{
    padding-top: 5px;
    padding-bottom: 5px;
}
.exp-left-nav-filter{
    padding-top: 5px;
    padding-bottom: 5px;
}

.selected-facet:hover {
    color: #FFFFFF;
    cursor: default;
    font: 14px/40px Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.facet-menu .selected-facet {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #333333;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 40px;
    margin: 0 18px 10px;
    padding: 0 6px 0 9px;
    position: relative;
}

.nsg-glyph--x:before {
    content: "î™";
}
.nsg-glyph--360:before, .nsg-glyph--alert:before, .nsg-glyph--arrow-down:before, .nsg-glyph--arrow-left:before, .nsg-glyph--arrow-right:before, .nsg-glyph--arrow-up:before, .nsg-glyph--basketball:before, .nsg-glyph--cart:before, .nsg-glyph--check:before, .nsg-glyph--chevron-down:before, .nsg-glyph--chevron-left:before, .nsg-glyph--chevron-right:before, .nsg-glyph--chevron-up:before, .nsg-glyph--email:before, .nsg-glyph--facebook:before, .nsg-glyph--flag:before, .nsg-glyph--friends:before, .nsg-glyph--fuel:before, .nsg-glyph--fuelband:before, .nsg-glyph--fullscreen:before, .nsg-glyph--globe:before, .nsg-glyph--grid-1up:before, .nsg-glyph--grid-2up:before, .nsg-glyph--help:before, .nsg-glyph--home:before, .nsg-glyph--id-circle:before, .nsg-glyph--id:before, .nsg-glyph--info:before, .nsg-glyph--instagram:before, .nsg-glyph--jumpman:before, .nsg-glyph--kinect:before, .nsg-glyph--link:before, .nsg-glyph--live-chat:before, .nsg-glyph--lock:before, .nsg-glyph--menu:before, .nsg-glyph--minus:before, .nsg-glyph--nano:before, .nsg-glyph--pause:before, .nsg-glyph--play:before, .nsg-glyph--plus:before, .nsg-glyph--profile-share:before, .nsg-glyph--profile:before, .nsg-glyph--rotate-left:before, .nsg-glyph--rotate-right:before, .nsg-glyph--running-gps:before, .nsg-glyph--search:before, .nsg-glyph--settings-thin:before, .nsg-glyph--settings:before, .nsg-glyph--share:before, .nsg-glyph--sportband:before, .nsg-glyph--sportwatch:before, .nsg-glyph--star:before, .nsg-glyph--swoosh-circle:before, .nsg-glyph--swoosh-plus:before, .nsg-glyph--swoosh:before, .nsg-glyph--talk:before, .nsg-glyph--thumbs-down:before, .nsg-glyph--thumbs-up:before, .nsg-glyph--training:before, .nsg-glyph--twitter:before, .nsg-glyph--volume-0:before, .nsg-glyph--volume-1:before, .nsg-glyph--volume-2:before, .nsg-glyph--volume-3:before, .nsg-glyph--volume-mute:before, .nsg-glyph--x-circle:before, .nsg-glyph--x:before, .nsg-glyph--youtube:before, .nsg-glyph--zoom-in:before, .nsg-glyph--zoom-out:before, .nsg-glyph:before, .nsg-form--badge--valid .nsg-form--badge-icon:before {
    left: 0;
    text-align: center;
    text-indent: 0;
    width: 100%;
}
.nsg-glyph--360:before, .nsg-glyph--alert:before, .nsg-glyph--arrow-down:before, .nsg-glyph--arrow-left:before, .nsg-glyph--arrow-right:before, .nsg-glyph--arrow-up:before, .nsg-glyph--basketball:before, .nsg-glyph--cart:before, .nsg-glyph--check:before, .nsg-glyph--chevron-down:before, .nsg-glyph--chevron-left:before, .nsg-glyph--chevron-right:before, .nsg-glyph--chevron-up:before, .nsg-glyph--email:before, .nsg-glyph--facebook:before, .nsg-glyph--flag:before, .nsg-glyph--friends:before, .nsg-glyph--fuel:before, .nsg-glyph--fuelband:before, .nsg-glyph--fullscreen:before, .nsg-glyph--globe:before, .nsg-glyph--grid-1up:before, .nsg-glyph--grid-2up:before, .nsg-glyph--help:before, .nsg-glyph--home:before, .nsg-glyph--id-circle:before, .nsg-glyph--id:before, .nsg-glyph--info:before, .nsg-glyph--instagram:before, .nsg-glyph--jumpman:before, .nsg-glyph--kinect:before, .nsg-glyph--link:before, .nsg-glyph--live-chat:before, .nsg-glyph--lock:before, .nsg-glyph--menu:before, .nsg-glyph--minus:before, .nsg-glyph--nano:before, .nsg-glyph--pause:before, .nsg-glyph--play:before, .nsg-glyph--plus:before, .nsg-glyph--profile-share:before, .nsg-glyph--profile:before, .nsg-glyph--rotate-left:before, .nsg-glyph--rotate-right:before, .nsg-glyph--running-gps:before, .nsg-glyph--search:before, .nsg-glyph--settings-thin:before, .nsg-glyph--settings:before, .nsg-glyph--share:before, .nsg-glyph--sportband:before, .nsg-glyph--sportwatch:before, .nsg-glyph--star:before, .nsg-glyph--swoosh-circle:before, .nsg-glyph--swoosh-plus:before, .nsg-glyph--swoosh:before, .nsg-glyph--talk:before, .nsg-glyph--thumbs-down:before, .nsg-glyph--thumbs-up:before, .nsg-glyph--training:before, .nsg-glyph--twitter:before, .nsg-glyph--volume-0:before, .nsg-glyph--volume-1:before, .nsg-glyph--volume-2:before, .nsg-glyph--volume-3:before, .nsg-glyph--volume-mute:before, .nsg-glyph--x-circle:before, .nsg-glyph--x:before, .nsg-glyph--youtube:before, .nsg-glyph--zoom-in:before, .nsg-glyph--zoom-out:before, .nsg-glyph:before, .nsg-form--badge--valid .nsg-form--badge-icon:before, .nsg-glyph--before:before, .nsg-form--global-message--alert > *:first-child:before, .nsg-form--global-message--success > *:first-child:before, .nsg-form-prompt--invalid:before, .nsg-glyph--after:after, .nsg-form--drop-down > a:after, .nsg-button--small--pill:after, .nsg-button--flyout.is-open nav > a:after, .nsg-button--flyout nav > a:after, .nsg-button--carousel-arrow--prev:after, .nsg-button--carousel-arrow--next:after, .nsg-button--pill-down:after, .nsg-button--pill-down.is-active:after, .nsg-button--pill-down.is-open:after, .nsg-button--pill-right:after, .nsg-button--pill-right.is-active:after {
    display: inline-block;
    font-family: "OneNikeGlyphs" !important;
    font-style: normal;
    line-height: 1;
    margin-top: -0.5em;
    position: absolute;
    text-decoration: none;
    text-transform: none;
    top: 50%;
}
.facet-menu .selected-facet .facet-close {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 13px;
}
.nsg-glyph--360, .nsg-glyph--alert, .nsg-glyph--arrow-down, .nsg-glyph--arrow-left, .nsg-glyph--arrow-right, .nsg-glyph--arrow-up, .nsg-glyph--basketball, .nsg-glyph--cart, .nsg-glyph--check, .nsg-glyph--chevron-down, .nsg-glyph--chevron-left, .nsg-glyph--chevron-right, .nsg-glyph--chevron-up, .nsg-glyph--email, .nsg-glyph--facebook, .nsg-glyph--flag, .nsg-glyph--friends, .nsg-glyph--fuel, .nsg-glyph--fuelband, .nsg-glyph--fullscreen, .nsg-glyph--globe, .nsg-glyph--grid-1up, .nsg-glyph--grid-2up, .nsg-glyph--help, .nsg-glyph--home, .nsg-glyph--id-circle, .nsg-glyph--id, .nsg-glyph--info, .nsg-glyph--instagram, .nsg-glyph--jumpman, .nsg-glyph--kinect, .nsg-glyph--link, .nsg-glyph--live-chat, .nsg-glyph--lock, .nsg-glyph--menu, .nsg-glyph--minus, .nsg-glyph--nano, .nsg-glyph--pause, .nsg-glyph--play, .nsg-glyph--plus, .nsg-glyph--profile-share, .nsg-glyph--profile, .nsg-glyph--rotate-left, .nsg-glyph--rotate-right, .nsg-glyph--running-gps, .nsg-glyph--search, .nsg-glyph--settings-thin, .nsg-glyph--settings, .nsg-glyph--share, .nsg-glyph--sportband, .nsg-glyph--sportwatch, .nsg-glyph--star, .nsg-glyph--swoosh-circle, .nsg-glyph--swoosh-plus, .nsg-glyph--swoosh, .nsg-glyph--talk, .nsg-glyph--thumbs-down, .nsg-glyph--thumbs-up, .nsg-glyph--training, .nsg-glyph--twitter, .nsg-glyph--volume-0, .nsg-glyph--volume-1, .nsg-glyph--volume-2, .nsg-glyph--volume-3, .nsg-glyph--volume-mute, .nsg-glyph--x-circle, .nsg-glyph--x, .nsg-glyph--youtube, .nsg-glyph--zoom-in, .nsg-glyph--zoom-out, .nsg-glyph, .nsg-form--badge--valid .nsg-form--badge-icon {
    display: inline-block;
    height: 1em;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 1em;
}