span.validation-passed {
    background: url("../images/icon_ok.gif") no-repeat scroll 100% 2px rgba(0, 0, 0, 0);
    padding-right: 20px;
}
.regBox span.regBoxWrap {
    /*melone start 修改宽度*/
    /*width: 290px;*/
    width: 230px;
    /*melone end 修改宽度*/
}
span.validation-error {
    background: url("../images/icon_error.gif") no-repeat scroll 100% 2px rgba(0, 0, 0, 0);
    padding-right: 20px;
}
#mobile_exist_msg {
    clear: both;
    color: #d91a00;
    font-size: 11px;
    float:left;
}

.regBoxWrapSn a{
    text-decoration:underline;
}
.regBoxWrapSn a:hover{
    color: #000000;
}
.regBoxWrap .field{
    padding-top: 10px;
    padding-bottom: 10px;
}
.newsletter{
    padding-top: 20px;
}
#agree_terms{
    margin-right: 5px;
    float: left;
    
}
.agree_terms{
    margin-right: 5px;
    float: left;

}
.terms {
    float: left;
    padding: 0;
    width: auto;
    margin-top: -3px;
}

.terms a {
    color: #02295c;
    font-size: 14px;
}

.validation-advice {
    clear: both;
    color: #d91a00 !important;
    /*melone start 修改字体大小*/
    /*font-size: 11px !important;*/
    font-size: 14px !important;
    /*melone end 修改字体大小*/
    padding: 0 0 0 !important;
}
button.rulNotAgree {
    background: none repeat scroll 0 0 #cccccc;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    width: 100px;
    /*melone start 添加未勾选“注册”字体颜色*/
    color: #02295c;
    /*melone end 添加未勾选“注册”字体颜色*/
}