@charset "UTF-8";
/**
 * 
 * @authors Carrie (carrie.zhang@voyageone.com)
 * @Spalding  2014-12-08 17:04:03
 */

/*头部 s*/
.header{
	position: absolute;
 	width:100%;
 	height:90px;
 	background:rgba(0,0,0,.8);
 }


.header .headerWrap{
	position: relative;
	width:970px;
	margin:0 auto;
}

.headerWrap .header_logo{
	position: absolute;
}

.header_nav_funs{
	font-size: 12px;
	margin-top:5px;
	text-align: right;
	color:#999;
}
.header_nav_funs a{
	color:#999;
}

.header_nav_funs a:hover{
	color:#fff;
}

.header_nav_funs span{
	display: inline-block;
	color:#e8a902;
	background: url(../images/20141208002.png) left center no-repeat;
	text-indent: 18px;
	margin-left:10px;
}

.header_nav_wrap{
	margin-top:20px;
	font-size: 14px;
	color:#fff;
}

.header_nav_wrap a{
	display: inline-block;
	margin:0 15px;
	color:#fff;
}

.header_nav_wrap a:hover{
	/*text-decoration:underline;*/
	color:#999;
}

.header_nav_wrap span{
	margin:0 50px;
}

.header_nav_wrap span img{
	vertical-align: bottom;
}

.dropDown_search{
	display: none;
	position: relative;
	width:1060px;
	height:242px;
	margin:0 auto;
	z-index: 10;
}

.dropDown_search .dropDownBg{
	position: fixed;
	width:100%;
	height:100%;
	opacity: 0;
	z-index: -1;
	left: 0;
	top: 70px;
}

.dropDown_search .dropClose{
	position: absolute;
	right:30px;
	top:30px;
	cursor: pointer;
}

.dropDown_search .dropDownWrap{
	background: url(../images/20141209003.jpg) left top no-repeat;
}

.dropDownWrap .dropDownWrapLeft{
	width:590px;
	height:242px;
}
.dropDownWrap .dropDownLine{
	width:1px;
	height:200px;
	margin-top:20px;
	background:#b6b6b6;
	margin-left:-10px;
}

.dropDownWrap .dropDownWrapRig{
	width:469px;
	height:242px;
	background: #121111;
}
/*头部 e*/

/*大图轮放*/
.spalding_index{
	position: relative;
	z-index: -1;
}

.spalding_index .spalding_index_slider{
	position: relative;
}

.spalding_index .spalding_index_slider img{
}
.spalding_index_plate{
	position: relative;
	width:100%;
	color:#fff;
	margin-top:-300px;
	margin-bottom:110px;
	z-index: 1999999;
}

.spalding_index_plate .spalding_plateWrap{
	position: relative;
	width:1125px;
	height: 190px;
	margin:0 auto;
}
.spalding_plateWrap .plateBox{
	float: left;
	margin-right: 15px;
}
.spalding_plateWrap .plateBox_01{
	width:255px;
	height:190px;
	background: url(../images/20141209004.png) left bottom no-repeat;
}

.spalding_plateWrap .plateBox_02{
	width:255px;
	height:190px;
	background: url(../images/20141209005.png) left bottom no-repeat;
}

.spalding_plateWrap .plateBox_03{
	width:255px;
	height:190px;
	background: url(../images/20141209006.png) left bottom no-repeat;
}

.spalding_plateWrap .plateBox_03 ul{
	margin-top:70px;
	margin-left:20px;
}

.spalding_plateWrap .plateBox_03 ul li{background: url(../images/20141209009.png) left center no-repeat;
	width:220px;
	height:26px;
	line-height: 26px;
	overflow: hidden;
	text-indent: 20px;
	font-size: 12px;
}
.spalding_plateWrap .plateBox_03 ul li:hover{background: url(../images/20141209008.png) left center no-repeat;
}

.spalding_plateWrap .plateBox_03 ul li a{
	color:#b6b6b6;
}
.spalding_plateWrap .plateBox_03 ul li:hover a{
	color:#ffb900;
}
.spalding_plateWrap .plateBox_tf{
	margin-top:-60px;
	margin-left: -30px;
}
.spalding_plateWrap .plateBox_tf img{
	vertical-align: top;
}

.weiduduan {
	width: 100%;
	margin: 15px auto 0 auto;
}

.kuzhan {
	position: relative;
	width: 100%;
	height: 955px;
	overflow: hidden;
}

.kuzhan ul.fix_flash {
	height: 955px;
	overflow: hidden;
	position: absolute;
}

.kuzhan ul.fix_flash li {
	width: 100%;
	height: 955px;
	overflow: hidden;
	float: left;
	display: inline;
	cursor: pointer;
}

.kuzhan ul.fix_flash li a {
	display: block;
	height: 955px;
	width: 100%;
	cursor: pointer;
}

/* .kuzhan_center {
	width: 300px;
	height: 106px;
	margin: 0px auto;
	position: absolute;
	overflow: hidden;
	top: 300px;
	left: 900px;
}

.kuzhan_flash_v {
	width: 96px;
	height: 54px;
	padding: 2px 5px 12px 3px;
	overflow: hidden;
	background: url(../images/bannerbox.png) no-repeat;
	position: absolute;
	left: 122px;
}

.kuzhan_center .kuzhan_flash_v img {
	width: 191px;
	height: 54px;
	margin-left: -27px;
	position: relative;
}

.kuzhan_flash_s {
	height: 5px;
	bottom: 20px;
	position: absolute;
	right: 33px;
	text-align: right;
}

.banner_smallArea {
	width: 100%;
}

.kuzhan_sele {
	float: left;
	display: inline;
	width: 24px;
	height: 5px;
	margin-left: 2px;
	background: #2d74a2;
	line-height: 5px;
	overflow: hidden;
	cursor: pointer;
}

.kuzhan_over {
	background: #ff9000;
} */


/*底部 s*/
.footer{
	position:relative;
	width:100%;
	height:260px;
	border-top:1px solid #2d2d2d;
}

.footer .footerWrap{
	width:1080px;
	margin:35px auto;
}
.shopCode .shopCodeWrap{
	margin:0 5px;
}
.shopCode .shopCodeWrap span{
	display: block;
	color:#fdb905;
	font-size:12px;
	text-align: center;
	margin:5px 0;
}
.footerWrap .shopCode{
	font-size: 12px;
	margin-right: 50px;
}
.footerWrap .shopCode a.tmallLink{
	color:#fdb905;
}

.footerWrap .shopCode h3{
	color:#fff;
	font-weight: bold;
	font-size: 14px;
}

.footerWrap .shopCode p{
	color:#b6b6b6;
	margin-left:90px;
	line-height: 1.2em;
}

.footerWrap dl.footerNav{
	width:120px;
	height:160px;
	overflow: hidden;
	font-size: 12px;
	margin-right: 40px;
}

.footerWrap dl.footerNav dd{
	color:#fff;
}

.footerWrap dl.footerNav dt{
	color:#b6b6b6;
	line-height: 2.4em;
}

.footerWrap dl.footerNav dt a{
	color:#b6b6b6;
}

.footerLogo .footerLogoBox{
	margin-bottom:10px;
}

.footerLogo .footerLogoBox.footerLogo_01 span{
	margin:0 10px;
}
.footerLogo .footerLogoBox.footerLogo_02{
	margin-left:20px;
}
.footerLogo .footerLogoBox.footerLogo_02 span{
	margin:0 5px;
}
/*底部 e*/


/*登陆*/
.spaldingBg{
	width:100%;
	height:100%;
	position: fixed;
	z-index: -1;
	top:0;
}

.spaldingBg .spaldingBgImg{
	position: relative;
	width:1130px;
	margin:0 auto;
}

.spaldingBg .spaldingBgImg img{
	width: 100%;
	height:100%;
}

.spaldingLogin{
	position: relative;
}

.spaldingLogin .loginBox{
	width:1130px;
	margin:0 auto;
}
.loginBox .loginBoxWrap{
	width:270px;
	float: right;
	margin-right: 140px;
}

.loginMain{
	margin-top:145px;
}

.loginMain .login_backHome{
	font-size: 12px;
	background: url(../images/20141209011.png) left center no-repeat;
	text-indent: 20px;
}
.loginMain .login_backHome a{
	color:#fff;
}

.loginMain .login_backHome a:hover{
	color:#999;
}

.loginMain .loginWel{
	margin:15px 0 25px;
}

.loginMain p{
	font-size: 12px;
}

.loginMain p a{
	color:#fff;
}

.loginMain p a:hover{
	color:#999;
}
.loginMain input{
	margin-top:10px;
	margin-bottom:20px;
	width:260px;
	height:20px;
	padding:3px 5px;
	border-radius: 3px;
	font-size: 14px;
	color:#666;
}

.loginSub .loginSubBtn{
	width:120px;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:#000;
	border-radius: 4px;
	background: #fdb905;
}

.loginSub .loginSubNoAccount{
	width: 150px;
	height:40px;
	font-size: 12px;
	text-align: right;
}

.loginSub .loginSubNoAccount a{
	color:#fdb905;
}


.loginOther{
	margin-top:20px;
	font-size: 12px;
	padding-bottom:5px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}

.loginOther span{
	display: inline-block;
	height:16px;
	line-height: 16px;
	margin-left:35px;
}

.loginOther span img{
	vertical-align: middle;
}

.getAccont{
	width:100px;
	text-align: center;
	padding:3px 10px;
	font-size: 14px;
	color:#000;
	background:#ffb900;
	border-radius: 4px;
}

.getAccont img{
	vertical-align: middle;
}

.loginCode{
	text-align: center;
	font-size: 12px;
	margin-top:30px;
}

.loginCode span{
	margin:0 5px;
}

.loginBottom{
	font-size: 12px;
	line-height: 1.4em;
	margin:40px 0 20px;
}