<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Task_Tools>
            <version>1.0.0</version>
        </Task_Tools>
    </modules>
    <frontend>
        <routers>
            <!-- the <helloworld> tagname appears to be arbitrary, but by
            convention is should match the frontName tag below-->
            <tools>
                <use>standard</use>
                <args>
                    <module>Task_Tools</module>
                    <frontName>store</frontName>
                </args>
            </tools>
        </routers>
        <layout>
            <updates>
                <tools>
                    <file>tools.xml</file>
                </tools>
            </updates>
        </layout>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Task_Tools />
            </modules>
        </suite>
    </phpunit>
    <global>
        <models>
            <tools>
                <class>Task_Tools_Model</class>
            </tools>
        </models>
        <resources>
            <tools_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tools_write>
            <tools_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tools_read>
        </resources>
        <blocks>
            <tools>
                <class>Task_Tools_Block</class>
            </tools>
        </blocks>
    </global>

</config>