<?xml version="1.0"?>
<config>
    <modules>
        <Devicom_Weixinevent>
            <version>0.1.0</version>
        </Devicom_Weixinevent>
    </modules>
    <frontend>
        <routers>
            <!-- the <Weixinpay> tagname appears to be arbitrary, but by
            convention is should match the frontName tag below-->
            <weixinevent>
                <use>standard</use>
                <args>
                    <module>Devicom_Weixinevent</module>
                    <frontName>weixinevent</frontName>
                </args>
            </weixinevent>
        </routers>
        <layout>
            <updates>
                <weixinevent>
                    <file>weixinevent.xml</file>
                </weixinevent>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <weixinevent>
                <class>Devicom_Weixinevent_Model</class>
                <resourceModel>weixinevent_mysql4</resourceModel>
            </weixinevent>
            <weixinevent_mysql4>
                <class>Devicom_Weixinevent_Model_Mysql4</class>
                <entities>
                    <log><table>weixin_log</table></log>
                    <api_debug><table>weixin_api_debug</table></api_debug>
                </entities>
            </weixinevent_mysql4>
        </models>
        <resources>
            <weixinevent_setup>
                <setup>
                    <module>Devicom_Weixinevent</module>
                    <class>Devicom_Weixinevent_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weixinevent_setup>
            <weixinevent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </weixinevent_write>
            <weixinevent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </weixinevent_read>
        </resources>
        <blocks>
            <weixinevent>
                <class>Devicom_Weixinevent_Block</class>
            </weixinevent>
        </blocks>
        <helpers>
            <weixinevent>
                <class>Devicom_Weixinevent_Helper</class>
            </weixinevent>
        </helpers>
    </global>

</config>