<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shoe_Sale>
            <version>1.0.0</version>
        </Shoe_Sale>
    </modules>

    <phpunit>
        <suite>
            <modules>
                <Shoe_Sale />
            </modules>
        </suite>
    </phpunit>

</config>