.cart_shell .content, .checkout_shell .content{ float:left;}
.cart_shell .sliderbar, .checkout_shell .sliderbar{ float:right;}

/* cart_inner */
.cart_inner{ background:#fff; border:1px solid #f0f0f0; *zoom:1;}
.cart_inner .title{ background:#476db9; border-radius:3px 3px 0 0; color:#fff; text-shadow:0 1px 0 #395ca1;}
.cart_inner .title h2{ font-size:16px; font-weight:normal; line-height: 35px; padding:0px 20px; height:35px;}
.cart_inner .title em{ color:#ff0; margin-left:.8em;}
.cart_inner .title i{ display:inline-block; background:url(../images/bg_hor.png) no-repeat -60px -122px; margin-right:5px; height:20px; width:20px; vertical-align:middle; overflow:hidden; *margin-top:3px;}
.cart_inner .funs{ font-size:0; height:0; position:relative;}
.cart_inner .funs ul{ position:absolute; right:20px; top:-35px;}
.cart_inner .funs li{ float:left; padding-left:10px;}
.cart_inner .funs .btn{ background-position:0 -480px; font-size:12px;}
.cart_inner .funs .btn:hover{ background-position:0 -510px;}
.cart_inner .funs .btn span{ background-position:100% -480px;}
.cart_inner .funs .btn:hover span{ background-position:100% -510px;}
.cart_inner .funs .cancel{ background-position:0 -540px; right:124px; text-shadow:0 -1px 0 #4b68a6;}
.cart_inner .funs .cancel:hover{ background-position:0 -570px;}
.cart_inner .funs .cancel span{ background-position:100% -540px;}
.cart_inner .funs .cancel:hover span{ background-position:100% -570px;}
.cart_inner .notice{ color:#c10900; padding:15px 24px;}
.cart_inner .inner{ margin:0 0 20px;}
.cart_inner .funs{ top: 2px;}
.cart_order{ background:#fafafa; border:1px solid #f0f0f0; padding:3px 0; height:24px;}
.cart_order li{ float:left; line-height:24px; padding:0 8px 0 12px;}
.cart_order .chk{ padding:0 8px; width:40px; overflow:hidden; _padding-top:3px;}
.cart_order .chk input{ margin:-3px 3px 0 0; height:13px; width:13px; vertical-align:middle; *margin-top:0;}
.cart_order .tit{ padding-left:55px; width:424px;}
.cart_order .price{ width:78px;}
.cart_order .count{ width:64px;}
.cart_list{ margin-bottom:20px; min-height:300px; _height:300px;}
.cart_list ul.li{ border-bottom: 1px solid #e6e6e6;}
.cart_list ul.failure{ border-bottom: 1px solid #e6e6e6;}
.cart_list .no_product{ color:#333; font-size:14px; padding:60px 0; text-align:center;}
.cart_list .no_product .big_cart{ display:inline-block; background:url(images/cart_new.png) no-repeat 0 -54px; height:60px; width:60px; vertical-align:middle;}
.cart_list .no_product span{ display:inline-block; margin-left:1.5em; vertical-align:middle;}
.cart_list .no_product a{ color:#09F;}
.cart_list .no_product a:hover{ color:#F60;}
.cart_item{ background:#FFF; padding:12px 0 0 182px; position:relative; vertical-align:top; min-height:102px; _height:102px;}
.cart_item .pro_info_wrap{ border-bottom: 1px solid #e0e0e0; padding-bottom: 12px;}
.cart_list ul li.last .pro_info_wrap,.cart_list ul li.failure .pro_info_wrap{ border-bottom: none;}
.cart_item .pro_props{ border-bottom:1px solid #f1f1f1; padding-bottom:5px;}
.cart_item .chk{ margin:46px 0 0 -160px; position:absolute;}
.cart_item .pic{ border:1px solid #F0F0F0; margin-top:2px; position:absolute; left:58px;}
.cart_item .pic:hover{ border-color:#DDD;}
.cart_item .pic img{ vertical-align:top;}
.cart_item .tit{ float:left; font-size:12px; font-weight:normal; padding-right:20px; width:424px; word-break:break-all; word-wrap:break-word;}
.cart_item .price{ float:left; color:#333; font:bold 12px Arial; padding:0 10px 0 0; width:60px;}
.cart_item .count_wrap{ float:left; font-size:0; padding:0 20px 0 0; width:90px; white-space:nowrap;}
.cart_item .count_wrap a{ display:inline-block; background:url(images/bg_hor.png) no-repeat 0 -102px; height:18px; width:18px; vertical-align:middle; overflow:hidden;}
.cart_item .count_wrap a:hover{ background-position:0 -120px;}
.cart_item .count_wrap .plus{ background-position:-18px -102px;}
.cart_item .count_wrap .plus:hover{ background-position:-18px -120px;}
.cart_item .count_wrap input{ border:1px solid #d6d6d6; padding:3px; color:#333; font-size:12px; margin:0 3px; height:14px; width:36px; vertical-align:middle; line-height:14px\9;}
.cart_item .total_price{ color:#f30;}
.cart_item .del, .cart_item .move_to_fav{ margin:0 24px 0 0; position:absolute; right:0;}
.cart_item .del{ color:#F00; margin: 0 60px 0 0;}
.shelves_item{ background: #f9f9f9;}
.cart_inner .panel{ padding-left: 10px;}

.cart_item .ext_infos{ float:left; padding-top:5px; width:77%; position: relative;}
.cart_item .ext_infos dd{ display:block; color:#565758; padding:4px 0;}
.cart_item .ext_infos dd em{ margin-left:10px;}
.cart_item .ext_infos .gifts{ color:#999;}
.cart_item .save_tools{ margin-top:-6px;}
.cart_item .stock_infos{ float:right; color:#969696; line-height:1.72; padding:5px 40px 5px 10px; text-align:center;}
.cart_item .stock_infos .stock{ color:#4f85cf; font-size: 14px; font-weight: 700;}
.cart_item .only_online{ display:block; background:url(images/online_pay.png) no-repeat; color:#966834; font-weight:bold; line-height:27px; margin-top:8px; height:28px; width:119px; text-indent:18px; text-shadow:0 1px 0 #ffdea0;}
.cart_item .only_online:hover{ color:#966834;}
.cart_item .stock_infos .nogoods{ color:#f51331; font-size: 14px; font-weight: 700;}
.cart_item .ext_infos .giftsPic{ display:inline-block; background: #fff; border: 1px solid #e6e6e6; height: 27px; width: 27px; vertical-align: middle;}
.cart_item .ext_infos .addSIcon{ display: inline-block; background: url(images/smallAddIcon.png) no-repeat; height: 28px; width: 11px; vertical-align: middle;}
.cart_item .ext_infos dd em.save_tools{ width: auto; position: absolute; top: 9px; right:150px;}
.cart_item .ext_infos .giftsTitle{ color: #ff6600;}

/* exchange */
.exchange_wrap{ margin-bottom:20px;}
.exchange_wrap h3{ color:#333; font-size:16px; font-weight:normal; margin-bottom:10px; padding-left: 10px;}
.exchange_item{ display:inline; float:left; border:1px solid #CCC; margin-right:5px; padding:10px 10px 10px 90px; height:100px; width:200px; overflow:hidden;}
.exchange_item .name{ line-height:22px; margin:0 0 10px -80px; height:22px;}
.exchange_item .arrow{ display:inline-block; border-color:transparent #666; border-style:dashed solid; border-width:5px 0 5px 5px; margin:-2px 5px 0 0; height:0; width:0; overflow:hidden; vertical-align:middle;}
.exchange_item .name h4{ float:left; border:1px solid #ccc; height:20px; padding:0 5px; line-height:20px;}
.exchange_item .name span{ float:left; color:#c10900; padding-left:10px; font-weight:bold;}
.exchange_item .tit{ display:block; height:1.5em; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.exchange_item .pic{ border:1px solid #f0f0f0; margin-left:-80px; position:absolute;}
.exchange_item .pic:hover{ border-color:#DDD;}
.exchange_item .pic img{ vertical-align:top;}
.exchange_item .price_wrap{ padding:1px 0;}
.exchange_item .price{ color:#999; font:bold 12px Arial;}
.exchange_item em.price{ color:#C10900; margin-left:1.2em;}

/* cart_total_wrap */
.cart_total_wrap{ background:#f5f7f8; border:1px solid #d6dee2; box-shadow:inset 0 1px 0 #fff; *zoom:1;}
.cart_total_ext{ margin-left:-390px; position:absolute;}
.cart_total_ext h4{ color:#333; font-size:20px; margin-bottom:60px;}
.cart_total_ext .tips{ line-height:1.76;}
.cart_total_ext .tips em{ color:#F60;}
.cart_total{ border-left:1px solid #d6dee2; box-shadow:inset 1px 0 0 #fff; color:#636363; margin-left:44%; padding:10px 12px; text-shadow:0 1px 0 #fff; min-height:130px; _height:130px;}
.cart_total li{ font-size:14px; height:1.5em; padding:3px 0; text-align:right; vertical-align:top;}
.cart_total li em, .cart_total .price{ color:#333; font:14px/1.5 Arial;}
.cart_total .label{ float:left; width:80%;}
.cart_total .label em{ color:#666; margin:0 .2em;}
.cart_total .val{ float:right;}
.cart_total .subtotal{ border-top:1px solid #CCD8E1; color:#F30;}
.cart_total .subtotal .val{ color:#F30;}
.cart_total .prop_count{ border-top:2px solid #CCD8E1; font-size:20px; margin-top:10px; padding:10px 0; height:1.5em; text-align:right;}
.cart_total .prop_count .val{ color:#F30; font-size:20px;}
.cart_total .btn, .cart_summary .btn{ background-position:0 -416px; font-size:16px; line-height:32px; padding-left:30px; text-shadow:0 -1px 0 #466dbd;}
.cart_total .btn{ margin-top:-40px; position:absolute;}
.cart_total .btn:hover, .cart_summary .btn:hover{ background-position:0 -448px;}
.cart_total .btn span, .cart_summary .btn span{ background-position:100% -416px; padding-right:30px;}
.cart_total .btn:hover span, .cart_summary .btn:hover span{ background-position:100% -448px;}
.cart_total .prop_gifts{ color:#999; text-align:right;}

/* cart_summary */
.cart_summary{ margin-bottom:16px;}
.cart_summary .title{ background:#476db9; border-radius:3px 3px 0 0; color:#fff; padding:3px 15px;}
.cart_summary .inner{ padding:18px 0 0;}
.cart_summary dt{ color:#333; font-size:14px; font-weight:bold; height:1.5em;}
.cart_summary dt.totalMoney{ font-size:18px; padding-top:13px;}
.cart_summary dt.totalMoney em{ padding-right:18px;}
.cart_summary dt.totalMoney span{ display:inline-block; color:#ff3300; font-family:Arial, Helvetica, sans-serif; font-size:18px;}
.cart_summary dd{ clear:both; display:block;}
.cart_summary .tips{ float:left; margin-top:-20px; padding:3px 0 0 108px;}
.cart_summary .price_wrap{ padding:5px 0 20px; text-align:right;}
.cart_summary .price{ color:#000; font:bold 16px/1.5 Arial;}
.cart_summary .note{ color:#999; margin-left:.3em;}
.cart_summary .view{ margin-top:-15px; padding:10px 0 15px 0; text-align:center;}
.cart_summary .view a{ color:#09f; font-weight:bold;}
.cart_summary .view a:hover{ text-decoration:underline;}
.cart_summary .btns{ padding-bottom:12px; text-align:center;}
.cart_summary .funs{ border-top:1px solid #e6e6e6; font-size:0; margin:0 -11px; height:73px; text-align:center;}
.cart_summary .funs a{ float:left; background:#fff; border-top:1px solid #fff; color:#666; font-size:12px; padding:12px 0; width:107px; text-align:center; text-shadow:0 1px 0 #fff;}
.cart_summary .funs a:hover{ background-color:#F5F7F8; color:#111;}
.cart_summary .funs i{ display:inline-block; background:url(images/cart_new.png) no-repeat; cursor:pointer; height:24px; width:24px; vertical-align:top;}
.cart_summary .funs .clear{ background-position:-24px 0;}
.cart_summary .funs .print_list{ border-left:1px solid #E6E6E6; width:108px;}
.cart_summary .funs .print{ background-position:-48px 0;}
.cart_summary .funs span{ display:block; padding-top:5px;}

/* step_order */
.step_order{ background:#fff; border:1px solid #F0F0F0; margin-bottom:20px; padding:20px 20px 34px; text-align:center;}
.step_order .inner, .step_order .inner ol{ display:inline-block; text-align:left; vertical-align:top; *display:inline; *zoom:1;}
.step_order .inner:after{ clear:both; display:block; content:"\200b"; height:0;}
.step_order .inner ol{ height:48px; text-align:left;}
.step_order .inner li{ float:left; height:100%;}
.step_order .inner span{ display:block; background:url(images/step_order.png) repeat-x; padding-left:130px; height:100%; width:45px;}
.step_order .inner .first span{ padding-left:0;}
.step_order .inner .wait, .step_order .inner .done, .step_order .inner .wait_complete, .step_order .inner .cancel, .step_order .inner .validation{ background-position:0 -48px;}
.step_order .inner i{ display:block; background:url(images/step_order.png) no-repeat -45px -96px; height:100%; width:45px;}
.step_order .inner .first i{ background-position:0 -96px;}
.step_order .inner .last i{ background-position:-90px -96px;}
.step_order .inner .wait i{ background-position:-90px -144px;}
.step_order .inner .first .wait i{ background-position:0 -144px;}
.step_order .inner .done i{ background-position:-48px -192px;}
.step_order .inner .first .done i{ background-position:0 -192px;}
.step_order .inner .last .done i{ background-position:-90px -192px;}
.step_order .inner em{ color:#333; margin:50px 0 0 -38px; width:120px; position:absolute; text-align:center;}
.step_order .inner .wait em{ color:#299a07;}
.step_order .inner .cancel em{ color:#ff6600;}
.step_order .inner .wait_complete i{background-position: -47px -192px;}
.step_order .inner .cancel i{background-position: -45px -240px;}
.step_order .inner .last .cancel i{background-position: -90px -240px;}
.step_order .inner .first .cancel i{background-position: 0 -240px;}

/* checkout_shell */
.checkout_inner .funs{ margin-bottom:20px;}
.checkout_inner .note_info{ background:#FFC; border:1px solid #FFCE00; color:#F60; font-weight:bold; font-size:14px; margin:0 20px 18px; padding:10px;}
.one_step{ margin:0 20px 20px;}
.step_title{ background:url(images/bg_hor.png) repeat-x 0 -145px; color:#476db9; padding-bottom:2px; height:35px;}
.step_title h3{ background:#fff; font-size:16px; font-weight:normal; line-height:30px; padding:0 0 5px 36px; height:30px;}
.hot_step .step_title h3{ color:#ff073c;}
.step_title .index{ background:#476db9 url(images/cart_new.png) no-repeat 0 -24px; color:#fff; font:20px/30px Arial; margin-left:-36px; height:30px; width:30px; position:absolute; text-indent:9px; *margin-top:-4px;}
.step_title .weixin_hint{ color:#ff073c; font-size:14px;}
.hot_step .step_title .index{ background-position:-30px -24px;}
.one_step .funs{ margin-bottom:0;}
.one_step .funs a{ color:#868686; font-size:12px; position:absolute; right:2px; top:-26px;}
.one_step .funs a:hover{ color:#09F;}
.one_step .funs a.high{ color:#09F; font-size:14px;}
.one_step .funs a.high:hover{ color:#F60;}
.one_step .note_info{ margin:10px 0 0;}
.one_step .step_main{ margin:0 36px; padding-top:10px;}
.one_step .intro, .one_step .twrap{ background:#F7FAFC; border:1px solid #E4E9EE; color:#333; margin:0 0 10px 0; padding:10px;}
.one_step .twrap{ margin-top:10px;}
.one_step .twrap td{ padding:5px;}
.one_step .twrap button{ background:#6da444; border:0; border-radius:3px; color:#fff; cursor:pointer; margin-right:12px; padding:5px 8px; overflow:visible;}
.one_step .twrap button.cancel{ background-color:#b29660;}
.one_step .twrap button:hover{ opacity:.8;}
.one_step .list th{ background:#ffffe8; background:-moz-linear-gradient(top, #ffffe8 0%, #ffffd1 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffe8), color-stop(100%,#ffffd1)); background:-webkit-linear-gradient(top, #ffffe8 0%,#ffffd1 100%);
    background:-o-linear-gradient(top, #ffffe8 0%,#ffffd1 100%); background:-ms-linear-gradient(top, #ffffe8 0%,#ffffd1 100%); background:linear-gradient(to bottom, #ffffe8 0%,#ffffd1 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe8', endColorstr='#ffffd1',GradientType=0); border-top:3px solid #333; border-bottom:2px solid #999; line-height:37px; padding:0 10px; height:37px; text-align:left; white-space:nowrap; word-wrap:normal;}
.one_step .list td{ background:#fff; border-bottom:1px solid #ccc; color:#666; padding:10px;}
.one_step .list td del{ color:#f60; text-decoration:line-through;}
.one_step .list{ border-bottom:2px solid #666;}
.one_step .list .price{ color:#333; font-weight:bold;}
.one_step .list .out_of_stock{ color:#f00;}
.one_step .list .small_amount{ color:#ffba00;}
.one_step .list .even td{ background-color:#FCFCFC;}
.one_step .list .selected td{ background-color:#F0FFE0;}
.step_radio_wrap{ padding-bottom:2px; *padding-bottom:15px;}
.step_radio_tit{ color:#333; font-size:14px; padding-bottom:5px; position:relative;}
.step_radio_tit em{ color:#E00;}
.step_radio_tit .hintInfo{ color:#7092bf; font-size:12px; padding-left:20px;}
.step_radio_tit .hintInfo em{ color:#23b14d;}
.step_radio_tit a.fareInfo, .step_radio_tit a.limitation{ color:#09f; position:absolute;}
.step_radio_tit a.fareInfo{ right:80px;}
.step_radio_tit a.limitation{right:0;}
.step_radio_tit a.fareInfo:hover, .step_radio_tit a.limitation:hover{ color:#0a8de5;}
.fareInfoTable{ text-align:center;}
.fareInfoTable thead th{ color:#000; border-bottom:2px solid #000; line-height:20px; padding:10px 0;}
.fareInfoTable thead th{ border-right:1px solid #bcbcbc;}
.fareInfoTable thead th.last,.fareInfoTable tbody td.last{ border-right:none;}
.fareInfoTable tbody td{ border-right:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; padding:10px 0;}
.fareInfoTable tbody tr.last td{ border-bottom:none;}
.fareInfoTable tbody a.expressName,.fareInfoTable tbody a.expressRange{ color:#39e1fa; font-size:14px; text-decoration:underline;}
.fareInfoTable tbody a.expressRange{ color:#3264fa;}
.step_radio{ display:inline; float:left; background:#fff; border:2px solid #E4E4E4; cursor:pointer; margin:0 30px 15px 0; position:relative;}
.step_radio input{ display:none;}
.step_radio label{ float:left; cursor:pointer;}
.step_radio .ext{ margin-left:10px;}
.step_radio .ext span{ display:none;}
.step_radio .note{ clear:both; background:#F5F5F5; border-top:1px solid #E4E4E4; color:#F60; text-align:center;}
.step_radio .note span{ display:block; padding:2px 0;}
.step_radio .arrow{ display:none; background:url(images/cart_new.png) no-repeat -72px -25px; height:28px; width:28px; position:absolute; right:0; bottom:0; overflow:hidden;}
.step_radio:hover{ border-color:#476DB9;}
.one_step .step_radio.selected{ border-color:#476DB9;}
.one_step .step_radio.selected .arrow{ display:block;}
.one_step .step_radio_disabled, .one_step .step_radio_disabled:hover{ border-color:#EEE; cursor:not-allowed;}
.one_step .step_radio_disabled label{ cursor:not-allowed; opacity:.2; filter:Alpha(opacity=20);}
.one_step .step_radio_disabled .note{ color:#666;}

/* addr_step */
.addr_step .step_main{ margin-right:10px; padding-bottom:10px;}
.addr_step .step_radio{ color:#1c2738; margin-right:20px; padding:10px;}
.addr_step .step_radio label{ display:block; float:none; width:240px; word-break:break-all; word-wrap:break-word;}
.addr_step .step_radio .city_name{ display:block; font-size:14px; padding-bottom:5px;}
.addr_step .step_radio .city_name em{ font-weight:bold; margin-left:.5em;}
.addr_step .step_radio .name{ font-weight:normal; margin-left:.5em;}
.addr_step .step_radio .name em{ font-weight:normal; margin-left:0;}
.addr_step .step_radio .addr_tel{ display:block; height:3em; overflow:hidden;}
.addr_step .step_radio .tel{ color:#707781; font-family:Arial; margin-left:1.5em;}
.addr_step .step_radio .btns{ padding-top:8px;}
.addr_step .step_radio .btn{ background:#c4c4c4; border-radius:3px; line-height:24px; margin-right:10px; padding:0 10px; text-shadow:none;}
.addr_step .step_radio:hover .btn, .addr_step .step_radio.selected .btn{ background-color:#b3bdd1;}
.addr_step .step_radio .btn:hover{ background-color:#d9d9d9;}
.addr_step .step_radio:hover .btn:hover{ background-color:#cad3e6;}
.addr_step .step_radio span.set_def, .addr_step .step_radio span.set_def:hover,
.addr_step .step_radio:hover span.set_def, .addr_step .step_radio:hover span.set_def:hover,
.addr_step .step_radio.selected span.set_def, .addr_step .step_radio.selected span.set_def:hover{ background:none; color:#333; cursor:default;}
.addr_step .step_radio .btn span{ background:none; padding:0;}
.addr_step .add_addr .btn{ background-position:0 -416px; line-height:32px; text-shadow:0 -1px 0 #4e70b6;}
.addr_step .add_addr .btn:hover{ background-position:0 -448px;}
.addr_step .add_addr .btn span{ background-position:100% -416px;}
.addr_step .add_addr .btn:hover span{ background-position:100% -448px;}
.new_address{ padding:20px 10px;}
.new_address th{ font-weight:normal; width:100px; text-align:right;}
.new_address th, .new_address td{ padding:5px; vertical-align:top;}
.new_address td{ padding-left:0; width:552px;}
.new_address th label, .new_address th em{ display:inline-block; line-height:30px; vertical-align:top;}
.new_address th em{ color:#f60; margin-right:5px;}
.new_address td em{ display:inline-block; margin:0 5px; vertical-align:middle;}
.new_address td .note{ color:#476db9; padding:5px 5px 0 5px;}
.new_address td .error_em{ color:#f00;}
.new_address td input, .new_address td select{ background:#fff; border:1px solid #ccc; margin:0 5px; padding:5px;}
.new_address td select{ padding:3px; vertical-align:middle;}
.new_address td textarea{ background:#fff url(images/textareabg.png); border:1px solid #CCC; line-height:25px; margin-left:5px; padding:5px; height:39px; width:500px; resize:vertical;}
.new_address input.error, .new_address textarea.error, .new_address select.error{ border:1px solid #f00;}

/* ship_step */
.ship_step{ margin-bottom:10px;}
.ship_step .step_radio label{ display:inline-block; background-color:#f5f5f5; background-repeat:no-repeat; background-position:center 0; height:60px; width:140px; position:relative;}
.ship_step .step_radio em{ background:#fff; border-top:1px solid #E4E9EE; color:#666; font-weight:normal; line-height:20px; height:20px; width:100%; position:absolute; bottom:0; left:0; text-align:center;}
.ship_step .step_radio b{ color:#F60; font-weight:normal; margin-left:.5em;}
.ship_step .step_radio .ext{ background-color:#FFF; border-left:1px solid #E4E4E4; margin-left:0; padding-left:10px;}
.ship_radio_wrap .step_radio{ padding:4px 10px 0;}
.ship_radio_wrap .step_radio label{ float:none; border-color:#FFF; height:32px; width:112px;}
.ship_radio_wrap .step_radio .note{ margin:0 -10px;}
.ship_radio_wrap .step_radio em{ display:none;}

/* save_tool_step */
.save_tool_step input{ border:1px solid #D0D0D0; margin-right:3px; vertical-align:middle;}
.save_tool_step label{ color:#666; font-size:14px; vertical-align:middle;}
.save_tool_step label em{ color:#f60;}
.save_tool_step p a{ color:#09F; font-size:14px;margin-left:8px; vertical-align:middle;}
.save_tool_step p a:hover{ color:#F60;}
.save_tool_step .help_tips em{ color:#333;}
.save_tool_step input.we_input{ padding:3px; font-weight:bold; font-size:14px;}
.save_tool_step .we_ex_info strong{ color:#f60;}
.save_tool_step .we_exchange_amount{ color:#f60; font-size:14px; font-weight:bold;}
.save_tool_step .twrap{ margin-bottom:20px;}

/* giftcard */
.giftcard .twrap{ padding:10px;}
.giftcard .list .price{ font-weight:normal;}
.giftcard  .f14{ font-size:14px; margin-right:20px; vertical-align:middle;}
.giftcard .card_input{ margin:10px 10px 15px;}
.giftcard .card_input input{ padding:5px 10px;}
.giftcard .card_input .card_num{ background:#fffff3; border:1px solid #d0d0d0; color:#333; font-size:18px; margin-left:85px; padding:2px; width:350px;}
.giftcard .card_toggle{ padding:10px 0;}
.giftcard .card_toggle a{ margin-left:0;}
.giftcard .used{ padding:5px 0 0 10px;}
.giftcard .used li{ color:#666; margin:10px}
.giftcard .used em{ color:#f30;}
.giftcard .btns{ border-top:1px solid #E4E9EE; padding:10px 0;}
.giftcard .giftpay{ padding:5px 0;}
.giftcard .giftpay em{ color:#f60; font-weight:bold; font-size:14px;}
.giftcard .giftpay em{ color:#f60; font-weight:bold; font-size:14px;}

/* invoice */
.invoice_choose{ color:#666; font-size:14px;}
.invoice_choose a{ color:#09f; font-weight:bold; margin:0 .1em;}
.invoice_choose a:hover{ color:#F60;}
.invoice_choose_inner{ padding-top:5px;}
.invoice_choose_inner label{ margin:0 20px 0 3px;}
.invoice_choose_inner em{ color:#333;}
.invoice .twrap table{ margin:5px;}
.invoice .twrap th, .invoice .twrap td{ font-weight:normal; padding:5px; vertical-align:top;}
.invoice .twrap th{ width:100px; text-align:right;}
.invoice .twrap label{ margin:0; white-space:nowrap;}
.invoice .twrap select{ border:1px solid #ccc; margin-right:5px; padding:2px; width:60px; vertical-align:top;}
.invoice .txt{ border:1px solid #ccc; padding:4px; width:260px; vertical-align:middle;}
.invoice .req{ display:inline-block; color:red; font:16px/1.2 Arial; margin:5px 0 0 5px; height:16px; overflow:hidden; vertical-align:top;}
.invoice .tips{ color:#999; line-height:1.8; padding-top:5px;}
.invoice .tips i{ display:inline-block; background:url(images/help-ico.png) no-repeat; font-size:0; margin-right:5px; height:18px; width:18px; vertical-align:top;}
.invoice .tips a{ color:#E00; margin:0 .3em; text-decoration:underline;}
.invoice .tips em{ color:#333; margin:0 .2em;}
.invoice .invoice_content{ background:#fff; border:1px solid #ccc; line-height:1.72; padding:5px;}
.invoice_infos{ margin:10px 8px 5px 0px;}
.invoice_infos li{ padding:0 0 5px;}
.invoice_infos .content{ float:none; padding:5px 0 10px; height:auto; width:auto; min-height:0;}
.invoice .invoice_infos table{ margin:0;}
.invoice .invoice_infos th, .invoice .invoice_infos td{ padding:3px;}
.invoice_infos li span{ display:inline-block; padding:0 10px; width:100px; text-align:right;}
.invoice_infos li a{ color:#09f; font-weight:bold; margin:0 .1em;}
.invoice_infos li a:hover{ color:#e00;}
.invoice_infos .invoice_content{ margin:0 20px 0 118px;}

/* remark_step */
.remark_step .step_main{ color:#666;}
.remark_step .tit{ position:absolute;}
.remark_step .txt_area{ color:#F60;}
.remark_step .txt_area p{ text-align:right;}
.remark_step .txt_area em{ margin:0 .3em;}
.remark_step .txt_area textarea{ background:#FFC url(images/textareabg.png) repeat; border:1px solid #ccc; line-height:20px; margin:5px 0; padding:5px; height:32px; width:816px; overflow:auto; resize:vertical;}

/* save_act */
.save_act .intro{ background:#FFFFF3; border:1px solid #FFF2DA; color:#666; line-height:1.8; padding:5px 20px 5px 10px; position:relative; text-indent:em;}
.save_act .intro strong{ color:#E50822; font-weight:bold; padding:0 5px 0 0;}
.save_act .intro .close{ color:#454543; cursor:pointer; font:16px/1.2 Arial; position:absolute; right:6px; top:2px;}
.save_act_toggle{ color:#666; font-size:14px; padding-bottom:8px;}
.save_act_toggle input{ margin:0 5px 0 0; vertical-align:middle;}
.save_act_toggle label{ vertical-align:middle;}
.save_act_toggle strong{ color:#f60; padding:0 3px;}
.save_act .twrap{ margin:0 0 10px 0; padding:0; overflow:hidden; position:relative; *zoom:1;}
.save_item{ border-top:1px solid #E4E9EE; margin:-1px 1px 10px; padding:10px 0 0; height:50px; position:relative;}
.save_item .pre_info{ color:#ff073c; font-size:18px; text-shadow:0 1px 0 rgba(0,0,0,.3); position:absolute; left:20px; top:20px;}
.save_item .info{ color:#666; font-size:14px; position:absolute; left:160px; top:18px;}
.save_item .choose select{ color:#333; padding:2px; width:240px;}
.save_item .pro_info{ height:100%; width:290px; position:absolute; right:30px; top:10px;}
.save_item .pic{ border:1px solid #ddd; position:absolute; left:0;}
.save_item .pic:hover{ border-color:#999;}
.save_item .pic img{ vertical-align:top;}
.save_item .tit{ display:block; font-weight:bold; margin-left:54px; width:236px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.save_item .old_price{ display:block; font-size:14px; margin-left:54px; padding:5px 0 0;}
.save_item .old_price em{ color:#f60; text-decoration:line-through;}

/* order_list */
.order_list_step{ margin-bottom:30px;}
.order_list .list{ border-bottom:0;}
.order_list .list th{ background:#fafafa; border:1px solid #f0f0f0; border-width:1px 0; padding:6px 15px; filter:none;}
.order_list .list th:first-child{ border-left-width:1px;}
.order_list .list th:last-child{ border-right-width:1px;}
.order_list .list td{ border-bottom-color:#f0f0f0; color:#565758; padding:10px 15px;}
.order_list .list .even td{ background-color:#fafafa;}
.order_list .save_tools_panel{ padding-top:5px;}
.order_list .save_tools_panel strong{ margin-right:5px; vertical-align:middle;}
.order_list .gifts{ color:#ff6600;}
.order_list .gifts .giftsPic{ display: inline-block; background: #fff; border: 1px solid #e6e6e6; height: 27px; width: 27px; vertical-align: middle;}
.order_list .gifts .addSIcon { display: inline-block; background: url(images/smallAddIcon.png) no-repeat; height: 28px; width: 11px; vertical-align: middle;}


/* cart_total */
.checkout_inner .cart_total_wrap{ margin:0 20px 20px;}
.checkout_inner .prop_count .label{ color:#f60;}
.help_tips{ display:inline-block; background:url(images/cart_new.png) no-repeat 0 -168px; color:#333; font-size:0; height:20px; width:20px; vertical-align:middle;}
.help_tips:hover{ color:#333; position:relative;}
.help_tips em{ background:#fff; border:2px solid #666; border-radius:2px; font-size:12px; padding:8px; line-height:1.6; width:150px; position:absolute; bottom:0; left:-9999px; word-break:break-all; word-wrap:break-word; visibility:hidden;}
.help_tips:hover em{ left:36px; visibility:visible;}
.help_tips i, .help_tips b{ border-color:transparent transparent #666; border-style:dashed dashed solid; border-width:10px 0 10px 14px; font-size:0; margin-left:-16px; height:0; width:0; position:absolute; left:0; bottom:7px;}
.help_tips b{ border-bottom-color:#fff; margin:0 0 -8px -8px; left:0; bottom:0;}

/* checkout_result */
.checkout_result{}
.info_box{ margin:30px auto 100px; width:976px; outline:0;}
.info_box .logo{ display:block; background:url(images/info_box_ico.png) no-repeat; height:60px; width:185px; margin:0 auto; overflow:hidden; text-indent:-200px;}
.info_box .con, .info_box .con_t, .info_box .con_b{ background:url(images/info_boxbg.png) no-repeat;}
.info_box .con{ background-repeat:repeat-y; background-position:100% 0; margin-top:25px;}
.info_box .con_b{ background-position:-976px 100%; padding:60px; *zoom:1;}
.info_box .footer{ text-align:center; color:#b2b2b2; margin-top:20px;}
.info_box .main_info{ border-bottom:1px dotted #98aab7; position:relative; padding:15px 20px 15px 65px; _zoom:1;}
.info_box .main_info .ico{  background:url(images/info_box_ico.png) no-repeat -15px -60px; height:32px; width:32px; position:absolute; left:15px; top:15px;}
.info_box .main_info h2{ font-size:24px; line-height:1.4; margin-bottom:10px;}
.info_box .main_info ul{ color:#666; margin-top:5px;}
.info_box .main_info li{ line-height:2.5em;}
.info_box .main_info li.price{ font-weight:bold; font-size:14px; color:#333;}
.info_box .main_info li.price em{ color:#f60;}
.info_box .main_info .tips{ color:red;}
.info_box .main_info .tips i{ display:inline-block; background:url(images/info_box_ico.png) no-repeat -120px -60px; margin:-3px 6px 0 0; height:20px; width:20px; vertical-align:middle; *margin-top:0;}
.info_box .main_info li input{ cursor:pointer; margin-left:.5em; padding:2px 5px;}
.info_box .info_bottom{ padding:15px 15px 15px 65px; color:#666; line-height:1.8em;}
.info_box .info_bottom a{ font-weight:bold; text-decoration:underline;color:#09f;}
.info_box .main_info i.fail{ background-position:-47px -60px;}
.info_box .main_info i.tel{ background-position:-79px -60px;}
.info_box .info_bottom .safe{ text-align:center; font-weight:bold;}
.info_box .info_bottom .safe .ico{ display:inline-block; height:20px; width:15px; background:url(images/info_box_ico.png) no-repeat 0 -60px; vertical-align:middle; margin-right:5px;}
.info_box .info_tips{ border-top:1px dotted #98aab7; padding:10px 15px 15px 65px;}
.info_box .info_tips h4{ line-height:2;}
.info_box .info_tips p{ color:#666; line-height:1.6;}
.info_box .info_tips p strong{ color:#D00; font-size:14px; padding:0 3px;}
.info_box .left_box{ width:480px;}
.info_box .cart_info{ position:absolute; top:20px; left:580px; line-height:30px;}
.info_box .cart_info em{ color:#F60; margin:0 .2em;}
.info_box .return_btn, .order_pay_confirm .return_btn{ background-position:0 -416px; line-height:32px; text-shadow:0 -1px 0 #1c418d;}
.info_box .return_btn:hover, .order_pay_confirm .return_btn:hover{ background-position:0 -448px;}
.info_box .return_btn span, .order_pay_confirm .return_btn span{ background-position:100% -416px;}
.info_box .return_btn:hover span,  .order_pay_confirm .return_btn:hover span{ background-position:100% -448px;}
.info_box .pay_btn{ background-position:0 -600px; font-size:0; line-height:40px; padding-left:30px; text-shadow:0 -1px 0 #e36c03; overflow:visible;}
.info_box .pay_btn:hover{ background-position:0 -640px;}
.info_box .pay_btn:active{ background-position:0 -680px;}
.info_box .pay_btn span{ background-position:100% -600px; font-size:16px; padding-right:30px;}
.info_box .pay_btn:hover span{ background-position:100% -640px;}
.info_box .pay_btn:active span{ background-position:100% -680px;}
.info_box .pay_btn[disabled], .info_box .pay_btn[disabled]:hover, .info_box .pay_btn[disabled]:active,
.info_box .pay_btn.disabled, .info_box .pay_btn.disabled:hover, .info_box .pay_btn.disabled:active{ background-position:0 -720px; cursor:default; pointer-events:none;}
.info_box .pay_btn[disabled] span, .info_box .pay_btn[disabled]:hover span, .info_box .pay_btn[disabled]:active span,
.info_box .pay_btn.disabled span, .info_box .pay_btn.disabled:hover span, .info_box .pay_btn[disabled].active span{ background-position:100% -720px; color:#ababab; cursor:default; text-shadow:0 1px 0 #fff;}
.info_box .wea_d_300{ display:block; background:#e6e6e6; line-height:200px; height:200px; width:300px; position:absolute; top:15px; right:0; text-align:center;}
.order_pay_confirm{ padding:10px 5px; text-align:center;}
.order_pay_confirm .btn{ margin:0 20px; padding-left:30px;}
.order_pay_confirm .btn span{ padding-right:30px;}

/* order_pay_dialog */
.order_pay_dialog_inner .list{ padding:15px 0 0; width:400px;}
.order_pay_dialog_inner .list li{ padding-bottom:15px; vertical-align:top;}
.order_pay_dialog_inner .list i{ display:inline-block; background:url(images/order_pay_icons.png) no-repeat; margin:-3px 8px 0 0; height:24px; width:24px; vertical-align:middle; *margin-top:0;}
.order_pay_dialog_inner .list .error{ background-position:-24px 0;}
.order_pay_dialog_inner .list strong{ font-size:16px; font-weight:normal;}
.order_pay_dialog_inner .list a{ color:#09F; margin-left:.6em;}
.order_pay_dialog_inner .pipe{ margin-left:.5em;}

/* To optimize */
.box_rechagre_confirm{ background:url(images/tel_recharge.png) repeat-y -1030px 0; margin:20px 0;}
.box_rechagre_confirm .box_rc_b{ background:url(images/tel_recharge.png) no-repeat -2060px bottom; _zoom:1;}
.box_rechagre_confirm .title{ background:url(images/tel_recharge.png) no-repeat 0 0; height:45px; line-height:50px; font-weight:bold; font-size:14px; color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4); text-indent:1.5em;}
.box_rechagre_confirm .right{ float:right; width:320px; padding-left:20px; border-left:1px solid #d2d2d2; display:inline;}
.box_rechagre_confirm .left{ width:640px; float:left; margin-left:5px; display:inline;}
.box_rechagre_confirm .left ul{ background:url(images/tel_recharge.png) no-repeat 100% 0; height:33px; width:624px;}
.box_rechagre_confirm .left ul li{ line-height:33px; float:left; width:155px; text-align:center; text-shadow:0 1px 0 #fff;}
.box_rechagre_confirm .left ul li.cur{ color:#fff; font-weight:bold; text-shadow:0 -1px 0  rgba(0, 0, 0, 0.1);}
.box_rechagre_confirm .left table{ margin:30px 0;}
.box_rechagre_confirm .tel_rechagre_notice{background: #FFFEBE;border: 1px solid #D6D6D6;color: #ec0000;line-height: 1.8;margin: 20px 15px 20px 0;padding: 10px;}
.box_rechagre_confirm .left table th,.box_rechagre_confirm .left table td{ padding:8px;}
.box_rechagre_confirm .left table th{ color:#666; font-size:14px; font-weight:normal; width:180px; text-align:right;}
.box_rechagre_confirm .con_wrap{ padding:20px 15px;}
.box_rechagre_confirm .left td .number{ color:#f50; border:1px solid #ddd; border-color:#aaa #ddd #ddd #aaa; font-weight:bold; font-size:16px; padding:3px;}
.box_rechagre_confirm .left td .tips{ color:#f50; margin-left:10px;}
.box_rechagre_confirm .left td.amount{ color:#f50; font-size:14px; font-weight:bold;}
.box_rechagre_confirm .left td a{ text-align:center;}
.box_rechagre_confirm .left table td.local{ padding-bottom:10px; padding-top:0;}
.box_rechagre_confirm .right dt{font-weight: bold;line-height: 28px; height: 28px;}
.box_rechagre_confirm .right dd { color: #999; line-height: 26px; height: 26px;}

/* 库存不足提示 */
.understock_pop{ background:#fff; font-size:14px; max-height: 418px; width:560px; overflow-x: hidden; overflow-y: scroll;}
.understock_pop table{ width:100%;}
.understock_pop td{ border-bottom:1px solid #ddd; padding:8px;}
.understock_pop .pic{ width:60px;}
.understock_pop .pic a{ display:inline-block; border:1px solid #ddd;}
.understock_pop .pic a:hover{ border-color:#aaa;}
.understock_pop p{ color: #333; font-size: 12px;}
.understock_pop p img{ margin-right:5px; vertical-align:middle;}
.understock_pop p strong{ font-weight: 400;}
.understock_pop .tit{ color: #333; font-size: 12px;}
.understock_pop .price{ color:#f62c47; font-size:14px;}
.understock_pop .counter{ font-size: 12px; margin-left:16px;}
.understock_pop .counter em{ color:#f62c47; padding-left:5px;}
.understock_pop .info{ color:#FF771D; width:84px; text-align:center;}
.understock_pop .info a{ display:inline-block; background:#ddd; border-radius:3px; color:#333; padding:3px 8px; vertical-align:middle;}
.understock_pop .info a:hover{ background:#999; color:#fff;}
.understock_info{ padding:15px 0;}

/*弹窗*/
.change_box_dialog .wep_dialog_content{ overflow:hidden;}
.change_box_dialog .wep_dialog_bx, .change_box_dialog .wep_dialog_by, .change_box_dialog .wep_dialog_close{ display:none;}
.change_box{ background:#fff; border:1px solid #ccc; border-radius:5px; width:872px;}
.change_box .hide{ display:none;}
.change_box .change_title{ background:url(images/cart_tan.jpg) repeat-x; border-radius:5px 5px 0 0; height:38px;}
.change_box .change_title ul{ float:left; padding-left:10px;}
.change_box .change_title li{ float:left; margin-top:4px; font:bold 14px/33px "宋体"; text-align:center;}
.change_box .change_title li a{ float:left; display:block; color:#666; height:33px; padding:0 15px; border-radius:3px 3px 0 0;}
.change_box .change_title li a.current{ background:url(images/cart_tan2.jpg) repeat-x; color:#000; border:1px solid #b4bdce; border-bottom:none;}
.change_box .change_title .x{ float:right; background:url(images/cart.png) -129px -326px no-repeat; display:block; width:16px; height:15px; margin:10px 10px 0 0; cursor:pointer;}
.change_inner h4{ color:#c10900; height:40px; line-height:40px; padding-left:12px;}
.change_inner li{ float:left; height:140px; width:277px; padding-left:13px;}
.change_inner .pic{ float:left; border:1px solid #ccc; width:100px; height:100px;}
.change_inner .text{ float:left; color:#666; width:140px; padding-left:16px; line-height:25px; font-weight:bold;}
.change_inner a{ color:#666;}
.change_inner a:hover{ color:#09f;}
.change_inner .c10{ color:#c10900; padding-left:10px;}
.change_inner .gou{ display:block; background:url(images/cart.png) 0 -347px no-repeat; color:#fff; font-weight:normal; line-height:22px; height:22px; width:47px; text-align:center; text-shadow:0 1px 0 #000;}
.change_inner a.gou:hover{ background:url(images/cart.png) 0 -370px no-repeat; color:#fff; text-decoration:none;}
.change_inner a.hover{ background:url(images/cart.png) 0 -370px no-repeat; color:#fff;}
.change_inner a.none{ background:url(images/cart.png) -50px -324px no-repeat; color:#666; text-shadow:0 1px 0 #fff; cursor:default;}
.change_inner a.none:hover{ background:url(images/cart.png) -50px -324px no-repeat; color:#666; text-shadow:0 1px 0 #fff; cursor:default;}
.change_box_dialog .wep_pop_content { padding:10px;}
.change_box_dialog .wep_dialog_content{ background:none;}
.change_box_dialog .wep_pop td, .change_box_dialog .wep_pop{ background:none;}

/* 订单支付方式冲突 */
.order_type_conflict_pops{}
.order_type_conflict_pops h4{ color:#c10900; padding:2px 0 4px;}
.order_type_conflict_pops p{ padding:5px 0;}
.order_type_conflict_pops p img{ margin:-1px 5px 0 0; vertical-align:middle;}

/* ads */
.wea_d_218_245{ border:1px solid #F9F9F9; margin-bottom:16px;}
.orderGifts{ background:#fafafa; color:#ff6600; font-size:14px; border:1px solid #f1f1f1; padding:20px 10px; margin: 0 20px 20px;}
.orderGifts .giftsLabel{ padding-right:10px;}
.orderGifts a{ display: inline-block; background: #fff; border: 1px solid #e6e6e6; height: 48px; width: 48px; vertical-align: middle;}
.orderGifts .addIcon{ display: inline-block; background: url(images/addIcon.png) no-repeat; height: 49px; width: 14px; vertical-align: middle;}

















