<?xml version="1.0"?>
<config>
    <modules>
        <Devicom_Couponorder>
            <version>0.1.0</version>
        </Devicom_Couponorder>
    </modules>
    <frontend>
        <routers>
            <couponorder>
                <use>standard</use>
                <args>
                    <module>Devicom_Couponorder</module>
                    <frontName>couponorder</frontName>
                </args>
            </couponorder>
        </routers>
        <layout>
            <updates>
                <couponorder>
                    <file>couponorder.xml</file>
                </couponorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <couponorder>
                <use>admin</use>
                <args>
                    <module>Devicom_Couponorder</module>
                    <frontName>couponorder</frontName>
                </args>
            </couponorder>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <couponorder>
                    <file>couponorderadmin.xml</file>
                </couponorder>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <couponorder>
                <class>Devicom_Couponorder_Model</class>
                <resourceModel>couponorder_mysql4</resourceModel>
            </couponorder>
            <couponorder_mysql4>
                <class>Devicom_Couponorder_Model_Mysql4</class>
                <entities>
                	<couponorder>
                		<table>couponorder</table>
                	</couponorder>
                </entities>
            </couponorder_mysql4>
        </models>
        <resources>
            <couponorder_setup>
                <setup>
                    <module>Devicom_Couponorder</module>
                    <class>Devicom_Couponorder_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </couponorder_setup>
            <couponorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </couponorder_write>
            <couponorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </couponorder_read>
        </resources>
        <blocks>
            <couponorder>
                <class>Devicom_Couponorder_Block</class>
            </couponorder>
        </blocks>
        <helpers>
            <couponorder>
                <class>Devicom_Couponorder_Helper</class>
            </couponorder>
        </helpers>
    </global>

</config>